---
title: Resolutions
date: 2013-12-26 00:00 UTC
description: I made a few New Years Resolutions. Find out about why I’m writing up all that I eat, and all that I do for the entirety of 2014.
tags: Life and everything else
---

## 2013 in review

Before any talk about resolutions or 2014, I want to look back on 2013. It's been a year in which I finished my third year of university, graduating with a first class honours degree; started work at the University of Reading, in the Digital Development team – paving my way towards being an adult; said a very difficult final good bye to my Gran, and Nonno in quick succession; adventured with my family in the USA; and finally launched [reading.ac.uk](http://reading.ac.uk). 

It's been a massively stressful, tiring, incredible, exciting, rewarding journey through the transition into the next chapter of my life, with the aid of my family, friends, and my amazing girlfriend [Natalie](http://twitter.com/natalie_smith94). There's only one quote that I think sums up this year:

> “It's been emotional” <cite>Vinnie Jones; [Lock, Stock, and Two Smoking Barrels](http://www.youtube.com/watch?v=-U4Pvodwm0U)</cite>

I'm massively excited for whatever 2014 holds, and welcome it with open arms.

## Me and resolutions

I don't do them. When I wanted to stop biting my nails, I did. When I wanted to start running again, I did. When I wanted to start eating healthily all the time, I did. But I haven't been running in a month, I'm eating badly far too frequently, and watching Spurs every weekend means that my nails are in tatters.

That said, I've never properly had New Years Resolutions, but I'm going to give them a go. As an extra incentive to stick to them, I thought I'd (semi) immortalise them in (web) ink.

This are predominantly for my own use, but feel free to have a go at them with me, or let me know on [Twitter](http://twitter.com/robsterlini) what you're trying to do this year.
## Health and fitness
I mentioned healthy eating and running in my intro, and they're my main goals, but it won't involve joining the gym, or limiting myself to lettuce.

I've got a great pair of running shoes, and the road is free. I actually enjoy running, but have got out of the habit; so task one will be to get back to a bi or tri-weekly running schedule. I'll go back to my 5km runs and try and get my time down to back below 25 minutes (I know that it's going to be a way off that to kick off with).

I'll kick back into my abdominal routine morning, afternoon and night as that had a pretty big impact in my core strength the last few times I did it.

Food-wise is a bit easier now that I'm into my own flat, but as I said not limiting it to lettuce so as such it's not a diet, and I refuse to call it that. It's more of an eat well, just eat less concept. Earlier this year I started drinking breakfast smoothies for energy to get me through the day, but I'd undo it with chocolate and sweets – the smoothie stays, the chocolate goes.
I've done this a few times and lasted a while, but never long enough to see any drastic effects, so this time I'm keeping a food diary (not for calories, more for my own interest and to really see what I put in me).
## Personal habits
I mentioned nail biting, and I want to cut that one out again. Not much more to say about it really other than it's not something I want to do, so should be the easiest to cut out.

My language has coloured somewhat (catalysed by the [reading.ac.uk](http://reading.ac.uk) project), and it's time to tone it down. I'm not going to be censoring myself, but I've noticed the impact of my words lessening with the frequency with which I've spouted them. That goes for [my Twitter](http://twitter.com/robsterlini) as well, I had a stint where I cut out all curse words from my 140 character bursts and it made it much more sociable, and enjoyable so I'm going back to a family-friendly social presence.
## <span id="work-reading-writing"></span>Work, reading, and writing
This is less of a resolution, more of a continuation. I love what I do, and this is just here to keep me focused on working hard on every project I'm a part of.

With the everything else bit, I hope to do a bit more with my spare time than veg out in front of the TV, or jam out on the Xbox. It's been far too long since I regularly read, but now that I've got some more spare ime I've started reading *the Hunger Games*, and hope to finish *the Girl with the Dragon Tattoo* – both on my iPad. I also hope that this will form the springboard for a wider range of books.

I'm hoping that reading more will help to push me to write more on this very blog, (and maybe elsewhere, we'll see). I'm really enjoying it, and I'm getting faster (and hopefully better) at it. Hope you guys don't get bored of me rambling on!

## Wish me luck

So there we have it. Not specific goals, with quantifiable targets, but some general life tracks that I want to put right. Wish me luck, and ask me in December 2014 how it all went. Let me know on [Twitter](http://twitter.com/robsterlini) about your resolutions or with any advice on the running, eating, biting, swearing, or working. Cheers!