---
title: That’s not my face
date: 2014-01-03 00:00 UTC
description: This is the story of testimonial image-attribution gone wrong.
tags: Design and dev
---

Something odd happened to me today, whilst gobbling down some tasty Nando's I was tweeted by [Dave Furf](http://twitter.com/furf):

<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/divya">@divya</a> <a href="https://twitter.com/RobSterlini">@RobSterlini</a> <a href="https://twitter.com/samihah">@samihah</a> <a href="https://twitter.com/mashaaaaal">@mashaaaaal</a> <a href="https://twitter.com/jackiebackwards">@jackiebackwards</a> y'all know your avatars are being used for testimonials on <a href="https://twitter.com/rise">@rise</a>'s website right?</p>— dave furf ♫★ (@furf) <a href="https://twitter.com/furf/statuses/419120008472444928">January 3, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

And when I got home I had a look. Sure as day, there I was, but hold on. I'm not called Olivier, I'm not 31, and I'm not from Canada. Long lost twin? I think not.

![Definitely my face, but I've not done a lot of research on diets](http://i.robsterlini.co.uk/posts_not-my-face/blog-notmyface_olivier-small.jpg "Right")
*Definitely my face, but I've not “done a lot of research on diets”.*

I wasn't happy about all this, and I posted [a](https://twitter.com/RobSterlini/status/419126269306216448) [few](https://twitter.com/RobSterlini/status/419127732786958336) [tweets](https://twitter.com/RobSterlini/status/419128569030524928) about it all both to *[Rise](http://twitter.com/rise)* and [Suneel Gupta](http://twitter.com/suneel).

They've subsequently removed my image, and replaced it with another John Doe, except he's not John Doe. He's [Garth Humbert](http://twitter.com/iamgarth). Still not Olivier.

Now before I go any further, I'd like to make a point of separating my issues into two parts.
1. firstly with [uifaces.com](http://uifaces.com/authorized) who have me down as an ‘authorized’ face, when I have signed up to no such thing.
2. secondly with *Rise* for using a face and a testimonial that don't match.

## Firstly – UI Faces

I'm not sure how this mix up happened, but I only ever signed up to be used on mockups. I loved the concept, and have found myself looking for real-life avatars to be used in mockups in the past before having actual users avatars to work with. Regardless, I didn't sign up to be authorized, and in a way it's not *Rise's* fault that they used my picture without my consent.

However, I think that having to find out that I've been used on a live site (regardless of a sign up) is wrong. My Twitter is quite clearly labeled on [uifaces.com](http://uifaces.com/); would it have been too much to have shot me a little heads up? What if I disagreed with dieting? Would I want to have my face on that site? Not really. You can see how it might be preferable to both parties to have a little bit of a courtesy call. That said, *UI Faces* don't mandate that, so – again – I'm not hugely mad at *Rise* for that.

## Secondly – Rise

This is the point that I care a bit more about. Using someone else's face for a testimonial that they've not given is something I wholeheartedly disagree with. As a consumer (not necessarily of *Rise's*) I feel betrayed by a company misappropriating quotes and faces. It feels wrong, and dishonest. These are all only opinions, so I'll say again that *Rise* didn't do anything wrong specifically, but when it's my face I think that I'm allowed to have feelings about it.

I've since been in contact with Suneel:

> “Weight loss is a very personal journey, and while our clients were happy to share their success stories, they preferred that we not use their images on the site.” <cite>From an email, but also reiterated via [Twitter](https://twitter.com/rise/status/419187263185358848) (@Rise)</cite>

I appreciate his fast response in getting back to me, and agree that if a happy client has asked for their face to be obscured or omitted, then that's fine, but replacing them with someone else's? Not so happy about that one.

In a follow up email, Suneel has also said that *Rise* plans to remove the photos all together:

> “Our next step is to remove those photos entirely.” <cite>Via email</cite>

That's something that I'm much happier with. Not using faces until they have clients that are happy to allow them to be used feels like the right thing to do.

## A bit of a conclusion

This was a bit of a weird one because I've never had to deal with something like this before.

I also want to reiterate one last time that I'm really happy with the way that *Rise* have dealt with the situation, and with me. I'm glad they've taken my criticism (which didn't break my [resolution](/journal/resolutions/)) on board, and are making a change.

I've asked to be removed from *UI Faces* all together so as to avoid any kind of mixup like this in the future.

And lastly I was somewhat interested (following a dinner table discussion with my brothers) what others' opinions were. Were they wrong to use images of people that didn't give the testimonials? Unfortunately this blog doesn't have comments yet, so you'll have to [drop me a tweet](http://twitter.com/robsterlini) if you want to give your opinion. *Also, if you'd make it known whether you'd be ok with me linking your tweet on here, so that I can highlight a few opinions.*

## The thoughts of others

Got the reaction of a few people on Twitter:

<blockquote class="twitter-tweet" data-conversation="none" lang="en"><p><a href="https://twitter.com/RobSterlini">@RobSterlini</a> <a href="https://twitter.com/brandonjcscott">@brandonjcscott</a> nice read. I agree that a testimonial should have the persons face who have it, or none at all. Otherwise it</p>— Ben Hubbard (@benhubbard434) <a href="https://twitter.com/benhubbard434/statuses/419197854830583808">January 3, 2014</a></blockquote>

<blockquote class="twitter-tweet" data-conversation="none" lang="en"><p><a href="https://twitter.com/RobSterlini">@RobSterlini</a> questions the integrity of that testimonial</p>— Ben Hubbard (@benhubbard434) <a href="https://twitter.com/benhubbard434/statuses/419197904663109632">January 3, 2014</a></blockquote>

<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/RobSterlini">@RobSterlini</a> Good article buddy, would have been a lot more peed off about the fake testimonials. Their excuse is very weak IMO.</p>— Ryan Murphy (@ryanAmurphy) <a href="https://twitter.com/ryanAmurphy/statuses/419199213587550208">January 3, 2014</a></blockquote>