---
title: OpenType and ::selection don’t mix
date: 2014-04-29 00:00 UTC
description: "Fixing the dubious way that Chrome on <span class='sc'>OSX</span> borks OpenType features when used with a custom ::selection"
hero: blog-opentype-and-selection-dont-mix.jpg
tags: Design and dev
---

## 116,899,200 seconds

1,353 days ago I moved into St. George’s Halls to begin my time at the University of Reading. I worked hard, did lots of stupid stuff and graduated with a new understanding of who I was and what I was capable of; but before graduating I was offered the opportunity to interview for the Digital Designer role at the university I'd come to love. I’d been craving a holiday or even just some time off to recover from the taxing end of the degree, but you can’t look a gift horse in the mouth, and I jumped at the chance.

Today was my last day in that role. Having a shade over a year building out a new, responsive, content-led design for [www.reading.ac.uk](http://www.reading.ac.uk "The University of Reading website") I’m still counting my blessings – not many people get to single-handedly tackle the design and build of a site with forty million annual hits, fewer still as their first job. That’s not to say I did it alone, because that’s not true – the rest of the team played a huge role, but being the only designer meant an unrivalled sense of freedom with an equally terrifying level of pressure.

I could write tomes about the challenges we faced as a team, but I won’t; all I’ll say is that I’ve learned a huge amount – about designing for institutions, managing clients, disaster management, and so much more.

> “Every day, I love what I do and I think it’s a gift and privilege to love your job” <cite>Sarah Burton</cite>

## What’s next?

Mum. I’m coming home. London’s calling, and it’s time for me to head back.

I’ll be working freelance as of Monday morning, but in the loosest sense of the word – I’m on holiday for a little while, sorting out some bits, but mainly just resting. The World Cup is on. The sun is out (but inevitably will go away too soon). And I’ve got some old friends to catch up with.

If you want to chat about a project then [drop me an email](mailto:hi@robsterlini.co.uk "Say hi"), but don’t be offended if I don’t take it on.

Some of you, however, will know my plans to be slightly different, but in the typical web designer way: I can’t say a whole lot more than that at the moment. Soon all will be a lot clearer (for anyone that actually cares, most won’t even bat an eye lid!)

## Fueled

This has been something I’ve been bursting at the seams with excitement for, but until now haven’t properly been able to tell people about this.

As of July 7, I’ll be [Fueled](http://www.fueled.com "Visit Fueled’s website")'s newest web designer! I’m really excited about getting stuck into some new projects with them, and am finally getting my head around the latest tech that’s running the web industry!

I’ll still be doing freelance work on the side, but most (if not all) of that will go on hold while I get on board with Fueled and work out how much of my time I can spare, but if you’ve got a project that you think we can handle then [get in touch](/contact "Say hi"), and we’ll get the wheels rolling on bringing an award-winning team onto your project!

## Thanks!

Living, progressing, and working in Reading has been an amazing experience. There are far too many people to thank everyone that has had a positive impact over the past four years. You know who you are.

If anyone from Reading – university or work colleagues – don’t have my phone number feel free to [drop me an email](mailto:hi@robsterlini.co.uk "Say hi"), and we’ll make sure we can stay in touch!

Thank you everyone. For everything.

> “If you’re interested in ‘balancing’ work and pleasure, stop trying to balance them. Instead make your work more pleasurable.” <cite>Donald Trump</cite>