---
title: The London Triathlon
date: 2015-08-09 00:00 UTC
description: My first sprint distance triathlon, in my home city, and it couldn’t have gone any better!
hero: true
tags: Training and sport
comments: true
---

On 8 August – yesterday at the time of writing – I took on the most daunting challenge I’be faced to date. [Kirstie](https://twitter.com/_kirstiesmith "Follow Kirstie on Twitter") will attest to my agitation, excitement, and nerves on the day. 

I wrote about the specific intricacies of my training, and progress when [I blogged about my first experience with triathlon at the Jenson Button Trust Triathlon](/journal/triathlete/ "Read about my experiences at the Jenson Button Trust Triathlon earlier in 2015"). 

In this brain dump, I’m going to try and avoid repeating myself. 

## The sprint distance

The sadist who named the triathlon distance I did yesterday a *sprint* is something else!

Mum had asked me how long I expected to take and this was my reply:

> Start at 4:10, hoping for an 18 minute swim, maybe 5 minute transition (its huge), 45 minutes on the bike, 5 minute transition again, 26 minute run. So optimistically 1:35, but maybe between that and 1:45.

Here’s how it *actually* played out:

__16:43__, 750m Swim (averaging 2:13/100m)  
__38:46__, 20km Bike (averaging 30.9km/h)  
__27:15__, 5km Run (averaging 5:27/km)

With transitions, I finished it in __1:29:45__. Over __five minutes faster__ than my optimistic time, and a __full fifteen minutes quicker__ than I thought I might do it in!

<span class="sc">Edit:</span> For a bit of perspective, I finished 243rd of 1730 competitors taking on the sprint distance. I was _16th_ in the 20–24 male category which astounds me! And my bike leg was ranked 155th (well within the top 10% of competitors).

It’s a really strange feeling, overachieving at something you _never_ thought you could ever do. 

To the point where I’m sure I’ve wrecked my finisher’s photo with the floods of (happy) tears.

I’ve only felt that once before, but it was when my mum completed her first marathon. Experiencing it myself? Yep, first time!

<%= partial "partials/figure", locals: {
  image: "/content/2015/08/the-run_full.jpg",
  caption: "Still able to pose for a snap on the final lap of the run!",
  alt: "A photo of me on my last lap of the run",
  position: "left",
  link: "https://instagram.com/p/6IsLpcv-z8/",
  link_text: "instagram.com"
} %>

## The Olympic distance

Maybe I’m the sadist, but at a number of points – particularly at each transition stage – I found myself wondering if I could do that distance again. _For each discipline_. 

Swim 1.5km.  
Ride 40km.  
Run 10km. 

Hell to it. I didn’t think I could do this distance, and it was still comfortable… I even managed a sprint finish!

Will I be signing up for an Olympic distance next year?

__Try and stop me!__

## The event

Just a very quick overview of the event itself:

Even though, it’s the world’s biggest triathlon, it was incredibly well marshalled, well organised, incredibly supported (particularly the noise that Team Macmillan were making), overall the day itself was fantastic. A huge thank you to the organisers!

<%= partial "partials/figure", locals: {
  image: "/content/2015/08/support-team_full.jpg",
  caption: "A sweaty, exhausted embrace with the two biggest motivators you could ever ask for!",
  alt: "A photo with each of my parents",
  position: "left",
  link: "https://instagram.com/p/6Isu71v-1K/",
  link_text: "instagram.com"
} %>

## My support team

I said I wouldn’t repeat myself, but I told a white lie. I couldn’t write a post about yesterday’s escapades without thanking my support team.  

Everyone who texted, called, tweeted, et al before the event… You’re awesome!

My cousin’s who took half a day out of their London sightseeing trip to see me swim, ride, and run past them just a handful of times… Seite fantastici!

My brothers who, regardless of where in the world they are at the moment, sent heartfelt messages of support… You’re both legends!

But to my parents:  
my mum who carried everything, whooped so loudly I could hear her in the swim, and was at my every beck and call… You’re the absolute greatest of mothers!  
This marked the first event my dad was able to come to (no gig clashes – rock’n’roll dads rock!). It was great to have him there, and to be able to make them both amazed and proud? There are few feelings quite like it! Dad… a you’re the absolute greatest Papa!

I’m unbelievably lucky to be able to tackle these events with the wind beneath my wings that they all provide.

<%= partial "partials/figure", locals: {
  image: "/content/2015/08/team-macmillan_full.jpg",
  caption: "Doesn’t matter how tired you are, there’s always time and energy for a cheeky snap with the #teammacmillan frame!",
  alt: "A jaunty photo with the #teammacmillan photo frame",
  position: "left",
  link: "https://instagram.com/p/6Is9qeP-1y/",
  link_text: "instagram.com"
} %>

## Donating

A huge, huge, huge thank you to all of you who donated ahead of the day. I went into the morning having raised __£1,085__ (that’s [over a thousand, dunno if you heard me counting](https://www.youtube.com/watch?v=T9IZDInBv1M "Watch the scene referenced here from the film Anchorman")), and I’m still astounded by all of your generosity!

For anyone who wants to, who hasn’t yet (or wants to donate again), [Macmillan will benefit hugely from any amount you can give!](uk.virginmoneygiving.com/robsterlini "Donate to my fundraising effort on behalf of Macmillan")

If you’ve already donated, then just spreading the word about [the amazing work Macmillan do](http://macmillan.org.uk "Visit Macmillan’s website") would be great! And if there’s ever an event like this that passes your house, or [near where you live](http://www.macmillan.org.uk/in-your-area/choose-location.html "Find out events that are near you!"), even just ten minutes of cheering on all the competitors makes all the difference!

## What’s next?

In the short term: [Tough Mudder London South](/triathlon#tough-mudder-london-south "Find out about my next escapade at Tough Mudder London South") with my brother, (maybe) Movember, and to round off the year the [Royal Parks Half Marathon](http://localhost:4567/triathlon#royal-parks-half "Find out why I’m running the RPF Half this October")!

Next year though? An Olympic triathlon – probably London, maybe a few sprints, and there’s an ever increasing likelihood that I’ll enter myself into the Brighton marathon. I’ve got the bug, and there is always more to achieve!

Wish me luck, and thanks for reading if you got this far!!