$color-background: white;
$color-text: black;
$color-black: black;
$color-white: white;

@import "utils/normalize";
@import "utils/mixins";
@import "utils/color";
@import "utils/variables";
@import "utils/helpers";

@import "grailrail/_all";