body {
    font-size: 110%;
    line-height: 1.3;
    width: 98%;
    margin: 0 auto;
    max-width: 850px;
    min-width: 400px;
}
[data-ie="hide"] {
    display: none !important;
}
.error {
    background: #d31b1b;
    font-weight: bold;
    margin: 0 0 20px 0;
    padding: 1px 10px;
}
.error,
.error a {
    color: #fff;
}
.nav__list {
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
}
.footer {
    margin: 50px 0 0;
}
.footer, 
.footer a {
    color: #999;
}
.footer ul {
    margin-left: 0;
    padding: 0;
}
.nav__item,
.footer ul li {
    display: inline;
    margin-right: 10px;
}
img {
    display: block;
    margin: 10px auto;
}
.btns--center a, .btns a {
    margin-right: 10px;
}
.triathlon h1 img {
    display: none;
}
.list--large-icons {
	list-style: none;
	margin-left: 0;
  padding-left: 0;
}
.list--large-icons__item {
  display: block;
  margin-bottom: 40px;
}
.list--large-icons__link {
  text-decoration: none;
}
.list--large-icons__title {
  text-decoration: underline;
}
.list--large-icons__link p {
  color: black;
}