---
title: Description generator
---
<div class="wrapper">
  <h1><%= current_page.data.title %></h1>
  <form class="gr-form" data-js="submit-form">
    <div class="gr-col--left">
      <div class="gr-form__set">
        <label for="gr_description" class="gr-form__label">Description</label>
        <textarea name="gr_description" class="gr-form__textarea" placeholder="Write about what your product in around 60 characters.
Make sure you use a double return between paragraphs."></textarea>
      </div>
    </div><!--
    --><div class="gr-col--right">
      <div class="gr-form__set">
        <label for="gr_size" class="gr-form__label">Size</label>
        <input name="gr_size" class="gr-form__input" placeholder="Describe the size in a sentence" />
      </div>
      <div class="gr-form__set">
        <label for="gr_condition" class="gr-form__label">Condition</label>
        <input name="gr_condition" class="gr-form__input" placeholder="Describe the condition in a sentence" />
      </div>
      <div class="gr-form__set">
        <label for="gr_measurements" class="gr-form__label">Measurements</label>
        <input name="gr_measurements" class="gr-form__input" placeholder="Describe the condition in a sentence" />
      </div>
    </div>
    <input class="gr-form__submit" type="submit" value="Get the description" />
  </form>
  <textarea class="gr-output" data-js="output" readonly></textarea>
</div>