---
nav: portfolio
no_footer: true
no_masthead: true
no_notice: true
---

<% # Page meta %>
<% content_for(:title, "#{project.name}") %>
<% content_for(:meta_description, "#{project.description}") %>
<% content_for :casestudy_css do %>
  <%= stylesheet_link_tag "case-studies/#{project.slug}" %>
<% end %>

<% # Typekit %>
<% if case_study.typekit %>
  <script src="//use.typekit.net/<%= case_study.typekit %>.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
<% end %>

<% # Back to projects %>
<div class="btns--menu btns--portfolio-menu">
  <a href="/portfolio" title="Go back to my portfolio" class="btn btn--icon ss-nav-projects"><span class="btn__label">Back to projects</span></a>
</div>

<% # Custom partial %>
<%= partial("templates/case-study/_#{project.slug}", :locals => { :project => project }) %>
