/**
 * CLASSES
 *
 * Controls reusable classes defined in the markup or JS
**/

/* ==|== Classes =========================
  Function
========================================== */

@function class($v, $d: true) {
  $class: map-get($classes, $v);
  @if ($d) {
    $class: '.#{$class}';
  }
  @return $class;
}

/* ==|== Classes =========================
  Base
========================================== */

$classes: (
  page-colours: 'page--colours'
);
  