/**
 * Color SCSS File
 */

/**
 *
 * All color variables should start with the color- prefix, and should
 * be descriptive to the color. $color-primary-accent is better than
 * $color-primary, as it's easy to figure out exactly what the color
 * as these may change significantly during the build and $color-primary-red
 * may no longer be red, but instead blue.
 *
 */

@function color($v) { @return map-get($colors, $v); }
@function module-color($v) { @return map-get($module-colors, $v); }
@function social-color($v) { @return map-get($social-colors, $v); }

$colors: (
  accent-light: #AFF1F1,
  accent-mid: lighten(#177D7D, 5%),

  alert: #ffd079,

  dark: #181A1D,
  mid: #91B1B1,
  light: #D7F9F9,
  lightest: #EFFFFF,
);

$module-colors: (
  base-bg: color(dark),
  base-color: color(mid),

  selection-bg: color(accent-mid),
  selection-color: color(light),

  body-border: color(accent-mid),

  link-primary: color(accent-light),
  link-primary-hover: color(lightest),
  link-primary-visited: #A87ADE,

  nav-color: color(accent-light),

  type-heading: color(light),
  type-code: color(light),

  column-break-bg: color(accent-mid),

  figure-bg: darken(color(dark), 5%),
);

$social-colors: (
  twitter: #00ACED,
  facebook: #3B5998,
  instagram: #3F729B,
  gplus: #CC3732,
  dribbble: #EA4C89,
  pinterest: #CC2127,
  tumblr: #44546B,
  vine: #00B489,
  youtube: #CD201F,
  medium: #1A1919,
  vimeo: #1AB7EA,
  spotify: #81b71a,
  strava: #fc4c02,
  nike-plus: #E95814,
  github: #171515
);