<!doctype html>
<html class="no-js hover" lang="en-gb">
  <head>
    <meta charset="utf-8">

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    
    <title><%= current_page.data.title %> • grailrail</title>

    <meta name="robots" content="noindex, nofollow">

    <meta name="generator" content="Static site built with Middleman">

    <%= stylesheet_link_tag "grailrail" %>
  </head>
  
  <body>
    <%= yield %>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        $(document).on('submit', '[data-js="submit-form"]', function(e) {
            e.preventDefault();
            var data = {},
                str = '';
                data.sizing = $('[name="gr_size"]').val() || false;
                data.condition = $('[name="gr_condition"]').val() || false;
                data.desc = $('[name="gr_description"]').val() || false;
                data.measurements = $('[name="gr_measurements"]').val() || false;
            str += '<div>\n\n' + (data.desc || "") + '\n\n</div>';
            str += '<div>\n';
            str +=  data.sizing ? '\n<strong>Size</strong> ' + data.sizing + '\n' : '';
            str +=  data.condition ? '\n<strong>Condition</strong> ' + data.condition + '\n' : '';
            str +=  data.measurements ? '\n<strong>Measurements</strong> ' + data.measurements + '\n' : '';
            str += '\n</div>';
            $('[data-js="output"]').val(str);
        });
    </script>
  </body>
</html>