<footer class="footer">
  <div class="group">
  	<p>Made with <a href="https://middlemanapp.com/" title="Visit the Middleman website" rel="nofollow">Middleman</a> and the <a href="https://github.com/Fueled/fueled-boilerplate" title="Fork the boilerplate on GitHub">Fueled boilerplate</a> in London. The type is all set in the gorgeously delicate <a href="#" title="See Skolar on Rosetta’s website">Skolar</a> and delivered to your internets via the ever-awesome <a href="http://www.mediatemple.net/#a_aid=512a823fed22d" title="See what Mediatemple have to offer">Mediatemple</a>. Check out the <a href="/colophon" title="Find out more about my site">colophon</a> or <a href="/contact" title="Get in touch">drop me a message</a> if there’s anything else you want to know!</p>
  	<p>&copy; forever. And ever. Don’t be a dick. Oh, and <a href="/colophon#cookies" title="Find out which cookies are in action on this site, and how they make it better">I use cookies</a> to make my site better.</p>
  </div>
</footer>