<footer class="footer">
  <div class="group">
    <article class="type">
      <p>Made with <abbr class="ss-heart" title="love"><span class="visuallyhidden">love</span></abbr> and <abbr class="ss-coffee" title="coffee"><span class="visuallyhidden">coffee</span></abbr> in London using the super-powerful <a href="https://github.com/Fueled/fueled-boilerplate" title="Fork the boilerplate on GitHub">Fueled boilerplate</a>, set in the gorgeously delicate <a href="#" title="See Skolar on Rosetta’s website">Skolar</a> and delivered to your <abbr class="ss-internets" title="internets"><span class="visuallyhidden">internets</span></abbr> via the ever-awesome <a href="http://www.mediatemple.net/#a_aid=512a823fed22d" title="See what Mediatemple have to offer">Mediatemple</a>.</p>
      <p>I own everything on here unless something says otherwise. By all means <a href="/contact" title="Say hi">drop me a line</a> to chat about anything you see, but don’t be a <abbr class="ss-poo" title="douche"><span class="visuallyhidden">douche</span></abbr> and steal any code without asking!</p>
    </article>
  </div>
</footer>