<footer class="footer">
  <div class="group">
  	<p>Made with <a href="https://middlemanapp.com/" title="Visit the Middleman website" rel="nofollow">Middleman</a> and the <a href="https://github.com/Fueled/fueled-boilerplate" title="Fork the boilerplate on GitHub">Fueled boilerplate</a> in London. The type is all set in the gorgeously delicate <a href="#" title="See Skolar on Rosetta’s website">Skolar</a> and delivered to your internets via the ever-awesome <a href="http://www.mediatemple.net/#a_aid=512a823fed22d" title="See what Mediatemple have to offer">Mediatemple</a>. Drop me a <a href="/contact" title="Get in touch">message</a> if there’s anything else you want to know!</p>
  	<p>&copy; forever. And ever. Don’t be a dick.</p>
  </div>
</footer>