<% if data.global_notice.notice.show == true %>
  <div class="global-notice--<%= data.global_notice.notice.classSet || "default" %>">
      <div class="group">
          <% data.global_notice.notice.copy.each do |text| %>
            <p><%= text %></p>
          <% end %>
      </div>
  </div>
<% end %>