<%
  hero_classes = ""
  if locals.has_key? :classes
    hero_classes = " #{classes}"
  end
  if locals.has_key? :split
    if split
      hero_classes = "#{hero_classes} hero--split"
    end
  end
%>
<header class="header">
  <div class="group">
    <% if locals.has_key? :title %>
      <h1 class="header--alpha" data-js="page-header"><%= title %></h1>
    <% end %>
    <% if locals.has_key? :subtitle %>
      <h2 class="header--subtitle"><%= subtitle %></h2>
    <% end %>
    <% if locals.has_key? :extra %>
      <%= extra %>
    <% end %>
  </div>
</header>