<%
  hero_image = hero_image || "#{hero}_full.jpg"
  hero_dynamic = false
  if locals.has_key? :dynamic
    hero_dynamic = dynamic
  end
%>

<div class="hero" aria-hidden="true"<% if hero_dynamic %> data-hero-dynamic="<%= hero_dynamic %>"<% end %>>
  <b class="hero__bg" data-hero="<%= hero_image %>"></b>
  <b class="hero__cover"></b>
  <noscript>
    <b class="hero__bg" style="background-image: url(/assets/images/hero/<%= hero %>_full.jpg);"></b>
  </noscript>
  <b class="hero__overlay"></b>
</div>