<header class="masthead<% if locals.has_key? :hero %><% if !hero %> masthead--no-hero<% end %><% end %>" id="menu">
  <nav class="nav">
    <ul class="list--inline list--inline--icons">
      <!--<% data.pages.masthead.each do |nav| %>
        <% if nav.masthead != false %>
          --><li class="nav__item">
            <%
              nav_label = nav.abbr ? "<abbr class='nav__label' title='#{nav.abbr.title}'>#{nav.abbr.label}</abbr>" : "<span class='nav__label'>#{nav.label}</span>"
              concat link_to nav_label, nav.slug == "" ? "/" : nav.slug, :class => "ss-nav-#{nav.icon} nav__link", :title => nav.alt
            %>
          </li><!--
        <% end %>
      <% end %>-->
    </ul>
  </nav>
</header>