<header class="masthead" id="menu">
  <div class="masthead__hero" style="background-image: url(https://robsterlini.co.uk/assets/journal/the-london-triathlon/blog-the-london-triathlon.jpg);" aria-hidden="true"></div>
  <nav class="nav">
    <ul class="nav__list">
      <!--<% data.pages.masthead.each do |nav| %>
        <% if nav.masthead != false %>
          --><li class="nav__item">
            <%
              nav_label = nav.abbr ? "<abbr class='nav__label' title='#{nav.abbr.title}'>#{nav.abbr.label}</abbr>" : "<span class='nav__label'>#{nav.label}</span>"
              concat link_to nav_label, nav.slug == "" ? "/" : nav.slug, :class => "nav__link--#{nav.icon} ss-nav-#{nav.icon}", :title => nav.alt
            %>
          </li><!--
        <% end %>
      <% end %>-->
    </ul>
  </nav>
</header>