<header class="masthead" data-js="toggled-navigation-parent">
  <nav class="nav">
    <ul class="nav__list">
      <!--<% data.pages.masthead.each do |nav| %>
        --><li class="nav__item">
          <% label = nav.abbr ? "<abbr class='nav__label' title='#{nav.abbr.title}'>#{nav.abbr.label}</abbr>" : "<span class='nav__label'>#{nav.label}</span>" %>
          <a class="nav__link--<%= nav.icon || nav.slug %> ss-nav-<%= nav.icon || nav.slug %>" href="/<%= nav.slug %>"><%= label %></a>
        </li><!--
      <% end %>-->
    </ul>
  </nav>
</header>
<a href="#menu" class="nav__toggle ss-menu" data-js="toggle-navigation"><span class="visuallyhidden">Toggle menu</span></a>