<% parent = parent || "masthead" %>
<nav class="nav group">
  <ul class="nav__list">
    <% data.pages.masthead.each do |nav| %>
      <% if (parent == "masthead" && nav.masthead != false) || (parent == "footer" && nav.footer != false) %>
        <li class="nav__item">
          <%
            nav_label = nav.abbr ? "<abbr class='nav__label' title='#{nav.abbr.title}'>#{nav.abbr.label}</abbr>" : "<span class='nav__label'>#{nav.label}</span>"
            concat link_to nav_label, nav.slug == "" ? "/" : nav.slug, :class => "nav__link", :title => nav.alt
          %>
        </li>
      <% end %>
    <% end %>
    <% if parent == "footer" %>
    <% end %>
  </ul>
</nav>