/**
 * Button SCSS Partial
 *
 * @requires framework/_type.scss, framework/_color.scss
 */

/* ==|== Buttons =================
	Primary
========================================== */

.btn {
	background:$color-btn-primary;
	color:$color-btn-primary-text;
	display: inline-block;
	padding:em(15) em(20);
	transition:all .25s cubic-bezier(#{$bezier-nice});

	&:hover {
		background:$color-btn-primary-hover;
		color:$color-btn-primary-text;
	}

	&:active,
	&:focus {
		background:$color-btn-primary-active;
		color:$color-btn-primary-text;
	}
}