/**
 * Button SCSS Partial
 *
 * @requires framework/_type.scss, framework/_color.scss
 */

/* ==|== Buttons =================
	Primary
========================================== */
%btn {
	@include font-family-serif(bold);
	display: inline-block;
	padding:em(10) em(15) em(9);
	transition:all .25s cubic-bezier(#{$bezier-nice});
	width:auto;
	white-space: nowrap;
	border-radius: em(3);
	line-height:1.3;
	border:em(2) solid $color-accent;
	text-decoration: none;
	@include active {
		transform:scale(0.9);
	}
}
.btn {
	@extend %btn;
	background:$color-accent;
	color:$color-black;
	text-shadow: none;
	@include hover {
		background:$color-white;
		border-color:$color-white;
		color:$color-black;
	}
}
.btn--outline {
	@extend %btn;
	border-color:$color-accent;
	@include hover {
		color:$color-white;
		border-color:$color-white;
	}
}