/**
 * Layout SCSS Partial
 *
 * @requires framework/_type.scss
 */

$layout-max-width: 800;
$layout-max-width-suffix: em($layout-max-width);
$layout-max-width-wide: 950;
$layout-max-width-wide-suffix: em($layout-max-width-wide);

.group {
	margin:0 auto;
	max-width:$layout-max-width-suffix;
	width:93.75%;
}

.wrapper {
  overflow: hidden;
  width:100%;
}

main {
  background:$color-white;
  position: relative;
  z-index:1;
  margin-bottom:em(500);
  padding-bottom:em(50);
  @include animation('%fade-in');
  &:after,
  &:before {
    content:'';
    position: absolute;
    bottom:em(-50);
    background:$color-white;
    height:em(100);
    transform:rotate(2.5deg);
    width:150%;
    left:-25%;
    backface-visibility: hidden;
  }
  &:before {
    transform:rotate(-5deg);
    opacity:0.25;
  }
}