/**
 * Links SCSS Partial
 *
 * @requires framework/_colors.scss
 */


/* ==|== Links =================
	Primary
========================================== */

a {
	color:$color-link-primary;
	transition:all .25s cubic-bezier(#{$bezier-nice});
	text-decoration: underline;
	&:hover {
		color:$color-link-primary-hover;
	}

	&:active,
	&:focus {
		color:$color-link-primary-active;
	}
}