---
title: About Middleplate
description: Middleplate is a feature-rich poilerplate aimed at improving your Middleman arsenal.
no_footer: true
no_masthead: true
priority: 0.8
---

<section id="content" class="wrapper">
  <div class="mp-hero">
    <div class="group">
      <h1>About Middleplate</h1>
      <p class="mp-hero__strapline">What the f**k is it, and why should we use it?</p>
    </div>
  </div>
  <div class="group">
    <%= middleplate_markdown('mp-page-about') %>
  </div>
</section>