---
title: A feature-rich boilerplate for Middleman developed by Rob Sterlini
description: Middleplate is a feature-rich poilerplate aimed at improving your Middleman arsenal.
no_footer: true
no_masthead: true
priority: 0.8
---

<section id="content" class="wrapper">
  <div class="mp-hero">
    <div class="group">
      <h1>Doc<span class="mp-hide__tiny">umentation</span></h1>
      <p class="mp-hero__strapline">Read up on everything from installation, to getting your Middleplate build out of the door and onto the shelves!</p>
    </div>
  </div>
  <div class="group">
    <%
      checklist = "<ul class='mp-checkbox'><p class='sc mp-checkbox__completion' data-js='mp-checklist-completion'><i data-check-list-total='#{data.middleplate.checklist.length}'></i><span class='mp-checkbox__progress'><span data-js='mp-checklist-current' class=''>0</span> of #{data.middleplate.checklist.length} </span>tasks completed</p>"
      data.middleplate.checklist.each_with_index do |check, index|
        checklist += "<li class='mp-checkbox__item'><a class='mp-checkbox__link' href='#' data-js='mp-checklist-item'><span class='mp-checkbox__task'>#{check.title}</span><code class='mp-checkbox__label'>#{check.file}</code> <span class='sc'>line(s) #{check.lines}</span></a></li>"
      end
      checklist += "</ul>"
    %>
    <%= middleplate_markdown('mp-page-documentation').gsub("<p>{{checklist}}</p>", checklist) %>
  </div>
</section>