---
title: A feature-rich boilerplate for Middleman developed by Rob Sterlini
nav: home
description: Middleplate is a feature-rich poilerplate aimed at improving your Middleman arsenal.
no_footer: true
no_masthead: true
priority: 0.85
---

<section id="content" class="wrapper">
  <div class="mp-hero">
    <div class="group">
      <h1 data-js="middleplate-header">Middleplate</h1>
      <p class="mp-hero__strapline">A simple, but powerful, base to kick start your next Middleman build, with blogging ready out of the box.</p>
    </div>
  </div>
  <div class="group mp-home__quick-links"><!--
    <% data.middleplate.pages.each_with_index do |mp, index| %>
      <% if mp.quick_link %>
        --><div class="mp-home__quick-links__item">
          <h3><%= mp.title %></h3>
          <p><%= mp.quick_link.description %></p>
          <p class="btns--left">
            <%= link_to "#{mp.quick_link.btn}", "/middleplate/#{mp.slug}", :title => mp.alt, :class => "btn" %>
          </p>
        </div><!--
      <% end %>
    <% end %>
  --></div>
</section>