---
title: A feature-rich boilerplate for Middleman developed by Rob Sterlini
nav: home
description: Middleplate is a feature-rich poilerplate aimed at improving your Middleman arsenal.
no_footer: true
no_masthead: true
priority: 0.85
---

<section id="content" class="wrapper">
  <div class="mp-hero">
    <div class="group">
      <h1>Middleplate</h1>
      <p class="mp-hero__strapline">A feature-rich boilerplate for Middleman.</p>
      <p>A simple, but powerful, base to kick start your next Middleman build, with blogging ready out of the box.</p>
    </div>
  </div>
  <div class="group">
    <h2 class="mp-stack--left">What is Middleplate?</h2><!--
    --><div class="mp-stack--right">
      <p><%= link_to "Middleman", "https://middlemanapp.com", :title => "Find out more about Middleman" %> is this bloody brilliant ruby framework that allows you to create lightning fast, super maintainable, static websites.</p>
      <h3>So why do we need Middleplate?</h3>
      <p>If you’re a ruby expert, or a regular Middleman user then this serves as a springboard for each project – with a basic set of styling partials, and blogging set up so you don’t have to remember how those settings work.</p>
      <p>Or if you’re a Middleman virgin, then this is a great starting point as it comes with a bit of extra documentation and some examples of specifically how to set some bits up.</p>
      <p>Why not give it a download and see if it’s something you can weave into your workflow.</p>
    </div>
  </div>
</section>