---
title: A feature-rich boilerplate for Middleman developed by Rob Sterlini
nav: home
description: Middleplate is a feature-rich poilerplate aimed at improving your Middleman arsenal.
no_footer: true
no_masthead: true
priority: 0.85
---

<section id="content" class="wrapper">
  <div class="mp-hero">
    <div class="group">
      <h1><abbr title="Frequently asked questions">FAQs</abbr></h1>
      <p class="mp-hero__strapline">Got a question? Someone’s probably asked it already&hellip;</p>
    </div>
  </div>
  <div class="group">
    <% data.middleplate.faqs.each_with_index do |faq_section, index| %>
      <h2 class="mp-stack--left"><%= faq_section.section %></h2><!--
      --><div class="mp-stack--right">
        <% faq_section.questions.each_with_index do |faq, index| %>
          <p class="mp-question"><%= faq.q %></h3>
          <p><%= faq.a %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</section>