/**
 * Hero SCSS Partial
 */

%mp-hero-bg {
  background: linear-gradient(-45deg, $color-mp-accent, $color-mp-compliment);
  box-shadow: rgba($color-black, 0.1) 0 rem(-1) 0 0 inset;
}
.mp-hero {
  @extend %mp-hero-bg;
  color: $color-mp-text;
  overflow: hidden;
  margin: 0 0 rem(32);
  padding: rem(96) 0 rem(32);
  text-shadow: rgba($color-mp-accent, 0.3) 0 rem(1) 0;
  h1 {
    abbr {
      background: none;
      text-shadow: inherit;
    }
    @include min-width($mp-tp-stack) {
      margin-left: 0;
    }
    .middleplate_documentation & {
      @include max-width($bp-tiny) {
        &:after {
          content: 's';
        }
      }
    }
  }
}
.mp-hero__strapline {
  @include font-size(26);
  line-height: 1.3;
  margin: rem(-24) 0 0;
  @include max-width($mp-tp-stack) {
    margin-left: auto;
    margin-right: auto;
  }
  @include max-width($bp-small) {
    @include font-size(24);
  }
  @include max-width($bp-tiny) {
    @include font-size(22);
  }
}