/**
 * Middleplate Checkbox SCSS Partial
 */

.mp-checkbox {
  margin-top: rem(24);
  max-width: $layout-max-width-suffix;
  padding: 0;
}
.mp-checkbox__completion {
  font-weight: $font-weight-bold;
  margin-bottom: rem(8);
  padding: 0 0 rem(6);
  position: relative;
  transition: color .25s cubic-bezier(#{$bezier-nice});
  &:before,
  i {
    bottom: 0;
    height: rem(4);
    left: 0;
    position: absolute;
  }
  &:before {
    content: '';
    background: rgba($color-accent, 0.25);
    width: 100%;
  }
  i {
    background: $color-success;
    width: 0%;
    transition:all .25s cubic-bezier(#{$bezier-nice});
  }
}
.mp-checkbox__completion--complete {
  color: $color-success;
}
.mp-checkbox__item {
  display: block;
  margin-bottom: rem(4);
}
.mp-checkbox__link {
  display: block;
  padding: rem(4) 0 0 rem(24);
  position: relative;
  .mp-checkbox__item & {
    color: inherit;
    text-decoration: none;
  }
  &:before {
    border: rem(2) solid #ccc;
    border-radius: rem(3);
    content: '';
    height: rem(16);
    left: 0;
    position: absolute;
    top: calc(50% - #{rem(8)});
    transition: all .25s cubic-bezier(#{$bezier-nice});
    transform-origin: center center;
    width: rem(16);
  }
  @include hover {
    &:before {
      border-color: #777;
    }
  }
  &.mp-checkbox__link--selected {
    color: $color-success;
    &:before {
      border-width: 0;
      box-shadow: inset $color-success 0 0 0 rem(20);
      transform: scale(0.5) rotate(180deg);
    }
    @include hover {
      color: $color-success;
    }
  }
}
.mp-checkbox__task {
  display: block;
  margin-bottom: rem(-5);
}