/**
 * Middleplate links SCSS Partial
 */

$mp-font-stack-header: "jaf-bernino-sans-comp", sans-serif;

.middleplate {
  a {
    color: $color-mp-compliment;
    text-decoration: underline;
    @include hover {
      color: $color-mp-text;
    }
    @include active {
      color: darken($color-mp-text, 10%);
    }
  }
}