/**
 * Middleplate home SCSS Partial
 */

.mp-home__quick-links {

}
.mp-home__quick-links__item {
  display: inline-block;
  margin-left: rem(16);
  vertical-align: top;
  width: calc(33.33% - #{rem(16 * 2 / 3)});
  &:nth-of-type(3n-2) {
    margin-left: 0;
  }
}