/**
 * Middleplate typography SCSS Partial
 */

$mp-font-stack-header: "jaf-bernino-sans-comp", sans-serif;

.middleplate {
  color: #555;
  ::selection {
    background: rgba($color-mp-accent, 0.8);
  }
  h1,
  h2,
  h3,
  h4,
  .mp-question {
    color: $color-mp-text;
    font-family: $mp-font-stack-header;
    line-height: 1;
    text-transform: uppercase;
  }
  h2,
  h3,
  h4 {
    font-weight: 400;
  }
  h1 {
    @include font-size(88);
    font-weight: 300;
    letter-spacing: rem(-1);
  }
  h2 {
    @include font-size(54);
    letter-spacing: rem(-0.5);
  }
  h3 {
    @include font-size(40);
  }
  h4,
  .mp-question {
    @include font-size(30);
    margin-top: rem(24);
  }

  @include max-width($bp-small) {
    h1 {
      @include font-size(72);
    }
    h2 {
      @include font-size(46);
    }
    h3 {
      @include font-size(32);
    }
    h4,
    .mp-question {
      @include font-size(24);
    }
  }

  @include max-width($bp-tiny) {
    h1 {
      @include font-size(64);
    }
    h2 {
      @include font-size(40);
    }
    h3 {
      @include font-size(26);
    }
    h4,
    .mp-question {
      @include font-size(20);
    }
  }
}

@include max-width($bp-tiny) {
  .mp-hide__tiny {
    display: none;
  }
}