/**
 * Middleplate footer SCSS Partial
 */

.mp-footer {
  padding: rem(16) 0 rem(8);
  .group {
    &:before {
      @extend %mp-hero-bg;
      content: '';
      display: block;
      height: rem(2);
      margin-bottom: rem(16);
    }
  }
  p,
  ul {
    @include font-size(16);
    margin: rem(4) auto;
    max-width: none;
    @include max-width($bp-small) {
      @include font-size(15);
    }
    @include max-width($bp-small) {
      @include font-size(14);
    }
  }
}
.mp-footer__list {
  list-style: none;
  max-width: $layout-max-width-suffix;
  margin-bottom: 0;
  padding: 0;
}
.mp-footer__item {
  display: inline-block;
  margin-right: rem(10);
}
.mp-footer__link {
  .mp-footer & {
    @include font-size(20);
    font-family: $mp-font-stack-header;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
  }
}