/**
 * Middleplate button SCSS Partial
 */

.middleplate {
  .btn {
    @include font-size(26);
    background: $color-mp-accent;
    border: none;
    color: darken($color-mp-accent, 30%);
    fill: darken($color-mp-accent, 30%);
    font-family: $mp-font-stack-header;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    @include hover {
      background-color: darken($color-mp-compliment, 5%);
      border-color: darken($color-mp-compliment, 5%);
      color: $color-mp-white;
    }
    abbr {
      background: none;
      text-shadow: inherit;
    }
  }
  .btn__subtitle {
    display: block;
    @include font-size(20);
  }
}