/**
 * Middleplate Nav SCSS Partial
 */

.mp-nav {
  display: flex;
}
.mp-nav--left {
  flex: 1;
  margin: auto 0;
}
.mp-nav__item {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
.mp-nav__link.mp-nav__link {
  @include font-size(26);
  background: none;
  color: $color-mp-white;
  font-family: $mp-font-stack-header;
  font-weight: 400;
  line-height: 1;
  padding: rem(10);
  position: relative;
  text-transform: uppercase;
  transition: color .25s cubic-bezier(#{$bezier-nice}), top .25s cubic-bezier(#{$bezier-nice});
  @include hover {
    color: $color-mp-accent;
  }
}
.mp-nav--right {

}