.error,
[class^="global-notice--"] {
  color: $color-white;
  padding-left: $masthead-full;
  p {
    margin: 0 auto;
    padding: $measure-unit / 2 0;
  }
  a {
    color: $color-white;
    text-decoration: underline;
  }
  @include max-width($tp-masthead-icon) {
    padding-left: $masthead-icon;
  }
  @include max-width($tp-masthead-hamburger) {
    padding-left: 0;
    padding-right: rem($measure * 3 + 10);
  }
}

.error {
  background: $color-alert-1;
}
[class^="global-notice--"] {
  background-color: $color-dark;
}
.global-notice--triathlon {
  background-color: $color-b-macmillan-2;
}

[class^="alert--"] {
  border-left:$color-alert-1 solid rem(2);
  padding-left:rem(23);
  margin:rem(40) auto;
  & > strong:first-of-type {
    color:$color-alert-1;
  }
}
.alert--older {
  border-color:$color-alert-2;
  & > strong:first-of-type {
    color:$color-alert-2;
  }
}
.alert--old {
  border-color:$color-alert-3;
  & > strong:first-of-type {
    color:$color-alert-3;
  }
}