/**
 * ALERTS
 *
 * Styles the alerts
 */

/* ==|== Alerts ==========================
  Aged alerts
========================================== */

[class^="alert--"] {
  font-style: italic;
  padding-bottom: lh-unit();
  
  & > strong:first-of-type {
    color: color(alert);
    font-style: normal;
  }
}