/**
 * Alerts SCSS Partial
 */


/* ==|== Alerts =================
  Base set
========================================== */

// .error {
//   background: $color-alert-1;
//   color: $color-white;
//   p {
//     margin: 0 auto;
//     padding: $measure-unit / 2 0;
//   }
//   a {
//     color: $color-white;
//     text-decoration: underline;
//   }
// }

/* ==|== Alerts =================
  Blog alerts
========================================== */

[class^="alert--"] {
  font-style: italic;
  padding-bottom: lh-unit();
  & > strong:first-of-type {
    color: color(alert);
    font-style: normal;
  }
}
//   border-left:$color-alert-1 solid rem(2);
//   left: unit(-1, -2);
//   padding-left: unit();
//   position: relative;
//   margin: unit(2) auto;
//   max-width:rem($layout-max-width + ($measure));
//   width: calc(100% + #{unit(1, 2)});
//   // width: 100%;
//   & > strong:first-of-type {
//     color:$color-alert-1;
//   }
//   .ts & {
//     margin-right: unit(-2);
//   }
// }
// .alert--older {
//   border-color:$color-alert-2;
//   & > strong:first-of-type {
//     color:$color-alert-2;
//   }
// }
// .alert--old {
//   border-color:$color-alert-3;
//   & > strong:first-of-type {
//     color:$color-alert-3;
//   }
// }