@mixin animation($motion,$delay: 0s) {
  // @extend #{$motion};
  .animate--end & {
    animation-delay: #{$delay};
  }
}

%fade-in {
  // opacity:0;
  // .animate--end & {
  //   animation: fadeIn .5s cubic-bezier(#{$bezier-nice}) 0s forwards;
  // } 
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

%fade-down {
  // opacity:0;
  // transform:translateX(-10px);
  // .animate--end & {
  //   animation: fadeDown .5s cubic-bezier(#{$bezier-nice}) 0s forwards;
  // } 
}

@keyframes fadeDown {
  0% {
    opacity:0;
    transform:translateX(-10px);
  }
  100% {
    opacity:1;
    transform:translateY(0);
  }
}

%fade-left {
  // opacity:0;
  // transform:translateX(-10px);
  // .animate--end & {
  //   animation: fadeDown .5s cubic-bezier(#{$bezier-nice}) 0s forwards;
  // } 
}

@keyframes fadeDown {
  0% {
    opacity:0;
    transform:translateY(-10px);
  }
  100% {
    opacity:1;
    transform:translateY(0);
  }
}

%fade-up-hero {
  // opacity:0;
  // transform:translateY(-10px);
  // .animate--end & {
  //   animation: fadeUpHero .5s cubic-bezier(#{$bezier-nice}) 0s forwards;
  // } 
}

@keyframes fadeUpHero {
  0% {
    opacity:0;
    transform:translateY(-10px);
  }
  100% {
    opacity:0.33;
    transform:translateY(0px);
  }
}
