.categories {
  padding: 0;
}
.category__item {
  display: block;
  @include min-width($bp-small) {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 33.33%;
  }
}
.category__link {
  display: block;
  margin: 0 0 $measure-unit;
  @include min-width($bp-small) {
    padding: 0 rem(20);
  }
}
[class*=" ss-cat-"] {
  @extend %big-cat-icons;
}

.js [data-anchors] {
  h2[id] {
    position: relative;
    &:before {
      background: $color-background;
      color: $color-link-primary;
      content:'#'attr(id);
      opacity: 0;
      position: absolute;
      text-indent: rem(-14);
      transition:opacity .25s cubic-bezier(#{$bezier-nice});
      // transform: translateY(#{rem(-5)});
      width: 100%;
      z-index: 1;
    }
    &:hover,
    &:focus {
      &:before {
        opacity: 1;
        // transform: translateY(#{rem(0)});
      }
    }
  }
}

.blog-post {
  p:first-child {
    margin-top: $measure-unit * 3;
  }
}