[class^="ss-cat"] {
  &:before {
    font-size: unit(1);
    margin-right: unit(0.25);
    position: relative;
    top: rem(2);
    vertical-align: middle;
  }
}

.js [data-anchors] {
  h2[id] {
    position: relative;
    &:before {
      background: $color-background;
      color: $color-link-primary;
      content:'#'attr(id);
      opacity: 0;
      position: absolute;
      text-indent: rem(-14);
      transition:opacity .25s cubic-bezier(#{$bezier-nice});
      width: 100%;
      z-index: 1;
    }
    &:hover,
    &:focus {
      &:before {
        opacity: 1;
      }
    }
  }
}

.blog-post {
  > p:first-child {
    margin-top: $measure-unit * 3;
  }
}