.js [data-anchors] {
  h2[id] {
    position: relative;
    transition: color timing() easing();
    &:before {
      color: transparent;
      content:'#'attr(id);
      position: absolute;
      text-indent: rem(-14);
      transition: inherit;
      width: 100%;
      z-index: 1;
    }
    &:hover {
      color: transparent;
      &:before {
        color: module-color(type-heading);
      }
    }
  }
}