/**
 * Button SCSS Partial
 *
 * @requires framework/_type.scss, framework/_color.scss
 */


/**
 * Button SCSS Partial
 *
 * @requires framework/_type.scss, framework/_color.scss
 */

/* ==|== Buttons =================
  Buttons
========================================== */

.btn {
  background: none;
  color: module-color(link-primary);
  display: block;
  font-weight: weight(bold);
  &:after {
    content: ' \02192';
    position: relative;
    top: em(3);
  }
}

// %btn {
//   border: rem(2) solid module-color(btn-bg);
//   border-radius: unit(0.25);
//   display: inline-block;
//   font-weight: bold;
//   letter-spacing: 0.1em;
//   line-height: 1.3;
//   margin: rem(5) unit() rem(5) 0;
//   padding: unit(0.5) unit();
//   text-decoration: none;
//   text-transform: uppercase;
//   transition: all .25s cubic-bezier(#{$bezier-nice});
//   vertical-align: top;
//   width: auto;
//   &:active {
//     transform:scale(0.95,0.95);
//   }
// }
// .btn {
//   @at-root {
//     [class^="btn--"] {
//       @extend %btn;
//     }
//   }
//   &--primary {
//     background: module-color(btn-bg);
//     color: module-color(btn-color);
//     &:hover {
//       color: module-color(btn-color-hover);
//     }
//   }
//   &--reversed {

//   }
// }

/* ==|== Buttons =================
	Containers
========================================== */

.btns {
}

/* ==|== Buttons =================
	Buttons
========================================== */


@mixin social-color($c, $b: true, $o: true, $p: 12%) {
  @if $o == true {
    &[class^="btn--"] {
      color: social-color($c);
      border-color: social-color($c);
      &:hover {
        color: darken(social-color($c), $p);
        border-color: darken(social-color($c), $p);
      }
    }
  }
	@if $b == true {
		&.btn--primary {
			background-color: social-color($c);
			border-color: social-color($c);
			&:hover {
				background-color: darken(social-color($c), $p);
				border-color: darken(social-color($c), $p);
			}
		}
	}
}
// [href*="dribbble.com"] {
// 	@include social-color(dribbble, true, true, 15%);
// }
// [href*="twitter.com"] {
// 	@include social-color(twitter, true, false);
// }