/**
 * Embed SCSS Partial
 *
 * @requires …
 */

/* ==|== Embed ===========================
  Base
========================================== */

.embed {
  &--left {
    float: left;
    width: calc(50% - #{unit(0.5)}) !important;
    margin: lh-unit() - rem(8) unit() lh-unit() auto !important;
  }
}

/* ==|== Embed ===========================
  Instagram
========================================== */

.embed {
  &.instagram-media {
    display: none !important;
    a {
      color: white;
      text-shadow: none !important;
    }
  }
  &.instagram-media-rendered {
    display: block !important;
  }
}

// iframe {
//   margin: unit(2) auto;
//   position: relative;
//   display: block;
//   z-index: 2;
//   &[id*="twitter-widget"] {
//   	margin: unit(2) 0 unit(2) auto !important;
//     max-width: calc(#{grid-unit(7, 12, false)}) !important;
//     width: 100% !important;
//   }
//   &[id*="instagram-embed-"] {
//   	margin: $measure-unit auto !important;
//   	max-width: $layout-max-width-suffix / 2 !important;
//   }
//   	&.embed__right,
//   	&.embed__left,
//     &.embed__center {
//   		display: block !important;
//   		max-width: $layout-max-width-wide-suffix / 2 !important;
//   		width: 50% !important;
//   	}
//     &.embed__wide {
//       width: 100% !important;
//     }
//   	&.embed__right {
//   		float: right;
//   		margin-left: $measure-unit * 2 !important;
//   	}
// 	  &.embed__left {
// 	  	float: left;
// 	  	margin-right: $measure-unit * 2 !important;
// 	  }
//     &.embed__center {
//       margin-top: $measure-unit * 2 !important;
//     }
// 	@include min-width(84 * $measure) {
// 		&.embed__right {
//   		margin-right: $measure-unit * -4 !important;
//   	}
// 	  &.embed__left {
// 	  	margin-left: $measure-unit * -4 !important;
// 	  }
// 	}
// }
// @include min-width(1) {
//   .instagram-media,
//   .instagram-media-registered {
//     display: none !important;
//   }
//   .instagram-media-rendered {
//     display: block !important;
//   }
// }