iframe {
  margin:$measure-unit * 2 auto;
  display: block;
  &[id*="twitter-widget"] {
  	margin: $measure-unit * 2 auto !important;
  }
  &[id*="instagram-embed-"] {
  	margin: $measure-unit * 2 auto !important;
  	max-width: $layout-max-width-suffix / 2 !important;
  }
  @include min-width($bp-small) {
  	&.embed__right,
  	&.embed__left {
  		display: block !important;
  		max-width: $layout-max-width-wide-suffix / 2 !important;
  		width: 50% !important;
  	}
  	&.embed__right {
  		float: right;
  		margin-left: $measure-unit * 2 !important;
  	}
	  &.embed__left {
	  	float: left;
	  	margin-right: $measure-unit * 2 !important;
	  }
	}
	@include min-width(84 * $measure) {
		&.embed__right {
  		margin-right: $measure-unit * -4 !important;
  	}
	  &.embed__left {
	  	margin-left: $measure-unit * -4 !important;
	  }
	}
}
.instagram-media {
	display: none !important;
	&.instagram-media-rendered {
		display: block !important;
	}
}