/**
 * FIGURES
 *
 * Controls the styling of figures
**/

/* ==|== Figures =========================
  Twitter
========================================== */

.figure {
  $_: &;
  background: module-color(figure-bg);
  left: 50%;
  margin: lh-unit() - rem(9) auto lh-unit();
  position: relative;
  overflow: hidden;
  transform: translateX(-50%);
  width: 100vw;

  pre + &,
  + #{$_} {
    margin-top: lh-unit() + rem(4);
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }

  &--full {

    img {

    }
  }

  &--inset {

    @include min-width(bp(s)) {
      float: right;
      left: auto;
      margin-left: unit();
      transform: none;
      width: 50%;
    }

    img {

    }
  }

  &--grid {

    @at-root {

      [class*=" figure--grid-"] {
        margin-bottom: lh-unit(0.5);
      }
    }

    &-half {
      margin-left: 0;
      left: 0;
      transform: none;
      width: calc(50% - #{rem(11)});

      & + & {
        margin-top: lh-unit() - rem(9);
        margin-left: rem(22);
      }
    }

    &-full {

      #{$_}--grid-half + & {
        margin-top: lh-unit() - lh-unit() + rem(4);
      }
    }
  }

  &__caption {
    @include sc;

    line-height: lh-unit(0.5);
    font-size: 0.875em;
    margin: 0 auto rem(4);
    max-width: rem(w(text));
    padding-top: rem(4);
    text-align: center;

    @include max-width(bp(s)) {
      padding: 0 unit(1.5);
    }

    .figure--inset & {

      @include min-width(bp(s)) {
        text-align: left;
      }
    }
  }
}


/* ==|== Figure ==========================
  Instagram
========================================== */

.figure {

  &.instagram-media {
    display: none !important;

    a {
      color: white;
      text-shadow: none !important;
    }
  }
  
  &.instagram-media-rendered {
    display: block !important;
  }
}