@font-face {
  font-family: "SSSymbolicons";
  src: url('../fonts/ss-symbolicons-line.eot');
  src: url('../fonts/ss-symbolicons-line.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ss-symbolicons-line.woff') format('woff'),
       url('../fonts/ss-symbolicons-line.ttf')  format('truetype'),
       url('../fonts/ss-symbolicons-line.svg#SSSymboliconsLine') format('svg');
  font-weight: 300;
  font-style: normal;
}

html:hover [class^="ss-"]{-ms-zoom: 1;}

.ss-icon,
[class^="ss-"]:before,
[class*=" ss-"]:before, {
  font-family: "SSSymbolicons";
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Navigation
.ss-nav-home:before {
  content:'⌂';
}
.ss-nav-projects:before {
  content:'';
}
.ss-nav-process:before {
  content:'';
}
.ss-nav-journal:before {
  content:'';
}
.ss-nav-about:before {
  content:'👶';
}
.ss-nav-contact:before {
  content:'📫';
}
.ss-nav-bucket:before {
  content:'⏱';
}
.ss-nav-triathlon:before {
  content:'🏃';
}

%big-cat-icons {
  &:before {
    color: $color-accent;
    display: block;
    font-size:rem(48);
    margin:0 auto;
    // text-align: center;
  }
}

// Menu
.ss-menu:before {
  content:'';
}

// Hero
.ss-hero-down:before {
  content:'⬇';
}

// Images
.ss-picture:before {
  content: '🌄'; 
}

// Process
.ss-process-desire:before {
  content:'👍';
}
.ss-process-interest:before {
  content:'⋆';
}
.ss-process-budget:before {
  content:'💷';
}
.ss-process-basics:before {
  content:'💻';
}
.ss-process-browser:before {
  content:'🗔';
}
.ss-process-extras:before {
  content:'';
}
.ss-process-communication:before {
  content:'🗪';
}
.ss-process-design:before {
  content:'';
}
.ss-process-dev:before {
  content:'';
}
.ss-process-ship:before {
  content:'🚀';
}
.ss-process-analytics:before {
  content:'📊';
}
.ss-process-iterate:before {
  content:'';
}

// Contact
.ss-contact-email:before {
  content:'✉';
}
.ss-contact-twitter:before {
  content:'🐦';
}
.ss-contact-dribbble:before {
  content:'🏀';
}

// Categories
.ss-cat-design-and-dev:before {
  content:'🎨';
}
.ss-cat-life-and-everything-else:before {
  content:'';
}

// About
.ss-about-poet:before {
  content:'✒';
}
.ss-about-tattoo:before {
  content:'';
}
.ss-about-spurs:before {
  content:'⚽';
}
.ss-about-food:before {
  content:'🍕';
}
.ss-about-christmas:before {
  content:'🎄';
}
.ss-about-nfl:before {
  content:'🏈';
}

// Bucket List
.ss-bucket-marathon:before {
  content:'🏃';
}
.ss-bucket-triathlon:before {
  content:'🚲';
}
.ss-bucket-skydive:before {
  content:'✈';
}
.ss-bucket-ski-backwards:before {
  content:'🎿';
}
.ss-bucket-pug:before {
  content:'🐻';
}
.ss-bucket-conference:before {
  content:'💬';
}
.ss-bucket-typeface:before {
  content:'&';
}
.ss-bucket-usa-roadtrip:before {
  content:'🚘';
}
.ss-bucket-vegetarian:before {
  content:'';
}
.ss-bucket-mountain-climb:before {
  content:'';
}
.ss-bucket-safari:before {
  content:'🐘';
}
.ss-bucket-iron-man:before {
  content:'';
}
.ss-bucket-travel:before {
  content:'🌎';
}