/**
 * Grid SCSS Partial
 */

/**
 *
 * Syntax for grids
 *
 * 	<div class="grid">
 * 		<div class="col col--3">
 *			<p>Lorem Ipsum</p>
 * 		<div><!--
 * 	 --><div class="col col--6">
 * 			<p>Pellentesque elim</p>
 * 		</div><!--
 * 	 --><div class="col col--3">
 * 			<p>Dolor Sit</p>
 * 		</div>
 * 	</div>
 *
 * The comments immediately after each <div class="col"></div> element
 * are vital for the grid to work.
 *
 */

$grid-gutter: 20;


// Required by the _grid.scss file
@mixin grid-column($cols) {
	@each $col-break, $col-num in $cols {
		@include respond-to($col-break) {
			width: (100%/ $col-num);
		}
	}
}

.grid {
    margin: 0 em(-($grid-gutter/2));
}
.grid__unit {
    display: inline-block;
    padding: 0 em($grid-gutter/2);
    vertical-align: top;
    width:100%;
    .intro-portfolio & {
    	width:25%;
        @include grid-column(($bp-tiny: 2, 250: 1));
    }
    .portfolio__item & {
        width:50%;
        @include grid-column(($bp-mid: 2));
    }
}