/**
 * Image SCSS Partial
 */

.figure {
  clear: both;
  position: relative;
  margin-top: unit();
  margin-bottom: unit(2);
  &--full {
    margin-left: unit(-2);
    margin-right: 0;
    width: 100%;
    width: calc(100% + #{unit(2)});
    .figure__caption {
      margin-left: auto;
      max-width: rem($layout-max-width + ($measure * 2));
    }
  }
  &--width {
    margin-left: auto;
    margin-right: 0;
    max-width: $layout-max-width-suffix;
    width: 100%;
  }
  &--left {
    float: left;
    margin-right: unit(2);
    margin-left: unit(-2);
    width: 50%;
    .figure__caption {
      left: 0;
      position: absolute;
      top: 100%;
      width: calc(66vw - #{$layout-max-width-suffix} - #{unit(2)});
    }
  }
  &--gutter {
    float: left;
    margin-right: unit(2);
    margin-left: unit(-2);
    width: calc(66vw - #{$layout-max-width-suffix} - #{unit(3)});
  }
  &__caption {
    font-family: $font-stack-alt;
    line-height: line-height(caption);
    padding-left: unit(2);
    text-indent: unit(-1.5);
  }
}

figcaption {
  // font-style: italic;
  @include font-size(12);
  color:$color-accent;
  width:100%;
  text-align: left;
  padding-top:rem(5);
  @include min-width($bp-tiny) {
    @include font-size(14);
  }
  @include min-width($bp-small) {
    @include font-size(16);
  }
}


img,
figure svg,
.image--right svg,
.image--left svg {
	height:auto;
	max-width:100%;
  margin:0 auto;
  display: block;
  & + em {
    margin-top:rem(5);
    color:$color-accent;
  }
}

.img--script {
  .no-js & {
    display: none;
  }
}