/**
 * Image SCSS Partial
 */

.figure {
  clear: both;
  position: relative;
  margin-top: unit();
  margin-bottom: unit();
  &--full {
    margin-right: 0;
    width: 100%;
    .figure__caption {
      margin-left: auto;
      max-width: rem($layout-max-width + unit(2));
    }
    img {
      width: 100%;
    }
  }
  &--width {
    left: unit(-2);
    margin-left: auto;
    margin-right: unit(-2);
    max-width: rem($layout-max-width + unit(2));
    position: relative;
    width: calc(100% + #{unit(2)});
  }
  &--left,
  &--gutter {
    float: left;
    margin-right: unit();
    width: calc(50% - #{unit(0.5)});
  }
  &--left {
    .figure__caption {
    }
  }
  &__caption {
    line-height: line-height(caption);
    @include font-size(12);
    width:100%;
    text-align: left;
    padding-top:rem(5);
  }
  img,
  svg {
    height:auto;
    max-width:100%;
    margin:0 auto;
    display: block;
  }
}
.img--script {
  .no-js & {
    display: none;
  }
}