/**
 * Layout SCSS Partial
 *
 * @requires framework/_type.scss
 */

.group {
	margin: 0 0 0 auto;
	max-width: $layout-max-width-wide-suffix;
  padding: 0 unit(2);
	width: 100%;
}

.wrapper {
  background: $color-white;
  overflow: hidden;
  flex:1;
  position: relative;
  padding-bottom: $measure-unit * 3;
  padding-left: $masthead-full;
  width: 100%;
  z-index: 1;
  @include min-width(tp(hero-split)) {
    padding-left: 0;
    padding-right: w(hero-percent);
  }
}

hr {
  margin: $measure-unit * 4 auto $measure-unit * 3;
  max-width: rem($layout-max-width /2);
  outline: none;
  border: 0;
  border-top: rem(2) lighten($color-accent, 30%) solid;
  p + & {
    margin-top: rem(60);
  }
}

.page--no-masthead {
  .list--large-icons__link {
    color: $color-text;
    @include hover {
      color: $color-link-primary;
    }
    .small-caps {
      color: $color-link-primary;
    }
  }
  .wrapper,
  .error,
  .footer,
  [class^="global-notice--"] {
    padding-left: 0;
  }
}
.page--no-footer {
  .wrapper {
    padding-bottom: 0;
  }
}