/**
 * LAYOUT
 *
 * Controls wrappers, and columns to style the layout
**/

/* ==|== Layout ==========================
  Wrapper
========================================== */

.wrapper {
  border: module-color(body-border) solid 1px;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: lh-unit(2) 0 unit(4);
  position: relative;
  width: 100%;
  z-index: 1;

  .page--colours & {
    border-color: var(--body-border);
  }
}

.group {
  margin: auto;
  max-width: rem(w(wrapper));
  padding: 0 unit();
  position: relative;
  width: 100%;

  @include min-width(bp(s)) {
    padding: 0 unit(2);
  }
}


/* ==|== Layout ==========================
  Columns
========================================== */

.cols {
  display: flex;

  @include max-width(tp(col-multiple)) {
    flex-wrap: wrap;
  }

  & + & {
    margin-top: unit(3);
  }
}

.col {
  margin-right: unit();
  position: relative;
  width: 100%;

  @include min-width(tp(col-multiple)) {

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include max-width(tp(col-multiple)) {
    margin: 0 auto;
    max-width: rem(w(text));
  }

  @include min-width(tp(col-multiple)) {
    &--33 {
      width: 33.3%;
    }

    &--66 {
      max-width: rem(w(text));
      width: 66.6%;
    }
  }

  &--break {
    padding-top: lh-unit(3.5);
    margin-top: rem(-1);

    &-h2 {
      margin-top: rem(-1) - lh-unit(1);
    }

    &:before {
      background: module-color(column-break-bg);
      content: '';
      display: block;
      height: 1px; // TODO: Var
      margin: 0;
      max-width: unit(4); // TODO: Var
      position: absolute;
      top: lh-unit(2.5);
      width: 50%;
    }

    &--twitter {
      &:before {
        background: social-color(twitter);
      }
    }

    &--dribbble {
      &:before {
        background: social-color(dribbble);
      }
    }
  }
}