/**
 * Layout SCSS Partial
 *
 * @requires framework/_type.scss
 */

.group {
	margin: 0 auto;
	max-width: rem(w(wrapper));
  padding: 0 unit(2);
  position: relative;
	width: 100%;
}

.wrapper {
  background: module-color(base-bg);
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: unit();
  padding: 0;
  width: 100%;
  z-index: 1;
  // .page--no-footer & {
  //   padding-bottom: unit();
  // }
  // .masthead--no-hero + & {
  //   margin-top: rem(58);
  // }
}