/**
 * Links SCSS Partial
 *
 * @requires framework/_colors.scss
 */


/* ==|== Links =================
	Primary
========================================== */

a {
	color: module-color(link-primary);
	transition:color .25s cubic-bezier(#{$bezier-nice});
	text-decoration: none;
	@include hover {
		color: module-color(link-primary-hover);
	}
	@include active {
		color: module-color(link-primary-active);
	}
}