/**
 * LISTS
 *
 * Controls basic lists
**/

/* ==|== Listss ===========================
  Base
========================================== */

ul,
ol {
  list-style: circle outside none;

  & > li {

    & > ul {
      list-style: disc outside none;
      margin: 0;
    }

    & > ol {
      list-style: lower-roman outside none;
      margin: 0;
    }
  }
}

ol {
  list-style: decimal outside none;
}

/* ==|== Lists ===========================
  Styled
========================================== */

.list {

  &--plain {
    list-style: none;
    padding: 0;
  }
}
