[data-plx="parent"] {
  min-height: rem(600);
  overflow: hidden;
  position: relative;
  .group {
    position: relative;
    z-index: 1;
  }
}
[data-plx="child"] {
  background: center center no-repeat;
  background-size: cover;
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  @include min-width(tp(parallax)) {
    .js & {
      height: 120%;
      top: 10%;
    }
  }
}