/**
 * Tabs SCSS Partial
 */


/* ==|== Tabs =================
  Navigation
========================================== */

[data-js="fix-tabs-to-top"] {
  top: 1px;
}

.tabs__nav-parent {
  overflow: hidden;
  position: relative;
  transition: height $timing;
}
.tabs__nav {
  background: rgba($color-white,0.95);
  box-shadow: rgba($color-black,0.1) 0 0 ($measure-unit / 2);
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}
@include min-width($bp-small) {
  .tabs__nav--fixed {
    position: fixed;
    padding-left: $masthead-full;
    @include max-width($tp-masthead-icon) {
      padding-left: $masthead-icon;
    }
    .tabs__nav__link {
      padding: $measure-unit / 2 $measure-unit;
    }
    &:hover {
      .tabs__nav__link {
        padding: $measure-unit;
      }
    }
  }
}
.tabs__nav__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  text-align: center;
}
.tabs__nav__item {
  position: relative;
}
.tabs__nav__link {
  display: block;
  padding: $measure-unit;
  transition: $timing cubic-bezier(#{$bezier-nice});
  transition-property: color, padding;
  @include min-width($bp-small) {
    &:after {
      background: $color-link-primary;
      bottom: 0;
      content: '';
      height: rem(2);
      left: 0;
      opacity: 0;
      position: absolute;
      transition: background $timing cubic-bezier(#{$bezier-nice});
      transition-property: background, opacity;
      width: 100%;
    }
    &--active {
      &:after {
        opacity: 1;
      }
      &:hover,
      &:focus {
        &:after {
          background: $color-link-primary-hover;
        }
      }
      &:active {
        &:after {
          background: $color-link-primary-active;
        }
      }
    }
  }
} 


/* ==|== Tabs =================
  Section
========================================== */


[class*="tabs__section--"] {
  overflow: hidden;
  padding-top: $measure-unit * 2;
  transition: opacity $timing;
  @include min-width($bp-small) {
    padding-top: $measure-unit * 5;
  }
}
@include min-width($bp-small) {
  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: none;
    }
    100% {
      opacity: 0;
      transform: translateX(-5%);
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(5%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  [data-tab-show="hidden"] {
    display: none;
  }
  .tabs__section {
    &--fade-out {
      animation: fade-out $timing both;
    }
    &--fade-in {
      animation: fade-in $timing both;
    }
  }
}