/**
 * Typography SCSS Partial
 *
 * @requires framework/_type.scss
 */

/* ==|== Typography ======================
	Load Skolar webfonts
========================================== */

@font-face {
	font-family: 'SkolarLatin';
	src: url('../fonts/SkolarLatin-Regular.eot');
	src: url('../fonts/SkolarLatin-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SkolarLatin-Regular.woff2') format('woff2'),
		url('../fonts/SkolarLatin-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SkolarLatin';
	src: url('../fonts/SkolarLatin-Italic.eot');
	src: url('../fonts/SkolarLatin-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SkolarLatin-Italic.woff2') format('woff2'),
		url('../fonts/SkolarLatin-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'SkolarLatin';
	src: url('../fonts/SkolarLatin-Bold.eot');
	src: url('../fonts/SkolarLatin-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SkolarLatin-Bold.woff2') format('woff2'),
		url('../fonts/SkolarLatin-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

/* ==|== Typography ======================
	Baseline Grid
========================================== */

._baseline-grid {
	// opacity: 0;
	overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  pointer-events: none;
  b {
    width: 100%;
    height: 1px;
    background: pink;
    display: block;
    margin-top: calc(#{lh-unit(0.5)} - 1px);
    opacity: 0.2;
    position: relative;

		// TODO: Decide
    // width: 50vw;
    // margin-left: -50vw;
    // position: relative;
    // left: calc(50% + 2rem);
    // background: linear-gradient(to right, pink, transparent);
    //
    // @for $i from 0 through 80 {
    // 	&:nth-of-type(#{$i}) {
    // 		opacity: 0.2 - ($i * 0.0025);
    // 	}
    // }
  }
}

/* ==|== Typography ======================
	Headings and Paragraphs
========================================== */

h1,
h2,
h3,
p,
ul,
ol {
	display: block;
	@include font-feature-settings(liga kern onum);
	max-width: rem(w(text));
	width: 100%;
}

%heading-alpha {
	color: color(accent-mid); // TODO: Var
	font-size: 3.375em;
	font-weight: weight();
	line-height: lh-unit(3);
	margin: lh-unit(3) auto 0;
	&:first-child {
		margin-top: rem(10);
	}
	+ %heading-beta {
		margin-top: lh-unit(2) + rem(5);
	}
	+ %heading-gamma {
		margin-top: lh-unit(1) - rem(3);
	}
	+ %paragraph {
		margin-top: lh-unit(0.5) - rem(2);
	}
}

%heading-beta {
	font-size: 1.85em;
	color: module-color(type-heading);
	font-weight: weight(bold);
	line-height: lh-unit(2);
	margin: lh-unit(2) auto 0;
	&:first-child {
		margin-top: rem(-8);
	}
	+ %heading-alpha {
		margin-top: lh-unit(3) - rem(5);
	}
	+ %heading-gamma {
		margin-top: lh-unit(1) - rem(9);
	}
	+ %paragraph {
		margin-top: lh-unit(0.5) - rem(9);
	}
}

%heading-gamma {
	color: module-color(type-heading);
	font-size: 1.25em;
	line-height: lh-unit(1);
	margin: lh-unit(1) auto 0;
	&:first-child {
		margin-top: rem(7);
	}
	+ %heading-alpha {
		margin-top: lh-unit(3) + rem(3);
	}
	+ %heading-beta {
		margin-top: lh-unit(2) - rem(3);
	}
	+ %paragraph {
		margin-top: lh-unit(0.5) + rem(1);
	}
}

%paragraph {
	font-size: 1em;
	line-height: lh-unit(1);
	margin: lh-unit(0.5) auto 0;
	&:first-child {
		margin-top: rem(8);
	}
	&:last-child {
		margin-bottom: rem(4);
	}
	+ %heading-alpha {
		margin-top: lh-unit(3) + rem(2);
	}
	+ %heading-beta {
		margin-top: lh-unit(2) - rem(3);
	}
	+ %heading-gamma {
		margin-top: lh-unit(1) - rem(1);
	}
}


.ts {
	h1 {
		@extend %heading-alpha;
	}
	h2 {
		@extend %heading-beta;
	}
	h3 {
		@extend %heading-gamma;
	}
	p,
	ul,
	ol {
		@extend %paragraph;
	}
	.p--alpha {
		@extend %heading-gamma;
	}
}

// .h--alpha {
// 	@extend %heading-alpha;
// }
// .h--beta {
// 	@extend %heading-beta;
// }
// .h--gamma {
// 	@extend %heading-gamma;
// 	color: module-color(type-heading);	
// }
// p {
// 	@extend %paragraph;
// }

/* ==|== Typography ======================
	Blockquotes
========================================== */

blockquote {
	font-style: italic;
	margin: lh-unit(1.5) auto lh-unit();
	padding: 0 unit();
	position: relative;
	text-align: center;
	&:before {
		background-color: color(accent-mid); // TODO: Var
		content: '';
		position: absolute;
		left: 50%;
		margin-left: rem(-25); // TODO: Var
		width: rem(50); // TODO: Var
		height: rem(1);
		top: rem(3) - lh-unit(0.5);
	}
	p {
		color: color(light); // TODO: Var
	}
	cite {
		font-style: normal;
		display: block;
		&:before {
			content: "—";
		}
	}
}

/* ==|== Typography ======================
	Variants
========================================== */

@mixin sc {
	font-feature-settings: "smcp" 1, "c2sc" 1, "lnum" 1, "kern" 1;
}
.sc,
.small-caps {
	@include sc;
}
.small-caps {
	line-height: 1.1;
}

%paragraph--alpha {
	@extend %heading-gamma;
	font-style: italic;
}

.p--alpha {
	@extend %paragraph--alpha;
}

abbr[title] {
	border:0;
	background: linear-gradient(to left, black 33%, rgba(black, 0) 34%) repeat-x left 88%; // TODO: Var
	background-size:rem(3) rem(1);
}