/**
 * TYPOGRAPHY
 *
 * Controls typography across the site
**/

/* ==|== Typography ======================
	Load Skolar webfonts
========================================== */

@font-face {
	font-family: 'SkolarLatin';
	src: url('../fonts/SkolarLatin-Regular.eot');
	src: url('../fonts/SkolarLatin-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SkolarLatin-Regular.woff2') format('woff2'),
		url('../fonts/SkolarLatin-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SkolarLatin';
	src: url('../fonts/SkolarLatin-Italic.eot');
	src: url('../fonts/SkolarLatin-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SkolarLatin-Italic.woff2') format('woff2'),
		url('../fonts/SkolarLatin-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'SkolarLatin';
	src: url('../fonts/SkolarLatin-Bold.eot');
	src: url('../fonts/SkolarLatin-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SkolarLatin-Bold.woff2') format('woff2'),
		url('../fonts/SkolarLatin-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

/* ==|== Typography ======================
	Baseline Grid
========================================== */

._baseline-grid {
  height: 100%;
  left: 0;
	overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;

  .js--show-grid & {
  	opacity: 0.05;
  }

  b {
    display: block;
    height: rem(1);
    margin: lh-unit(0.5) - rem(1) auto 0;
    position: relative;
    max-width: rem(w(wrapper) - ($measure * 4));
    width: 100%;

    &:before {
	    background: white;
    	content: '';
    	left: 0;
    	height: 1px;
    	position: absolute;
    	top: 0;
    	width: 100%;
    }
  }
}

/* ==|== Typography ======================
	Base typographic styling
========================================== */

h1,
h2,
h3,
h4,
p,
ul,
ol {
	@include font-feature-settings(liga kern onum);

	display: block;
	margin: 0 auto;
	max-width: rem(w(text));
	width: 100%;
}

%typography-first-child {

	&:first-child {
		margin-top: -1px;
	}
}

/* ==|== Typography ======================
	Headings and Paragraphs
========================================== */

%heading {
	@extend %typography-first-child;

	a {
		background: none;
	}
}

%heading-alpha {
	color: module-color(type-h1);
	font-size: 3.375rem;
	font-weight: weight();
	line-height: lh-unit(3);
	margin-top: lh-unit(3);
	padding-top: rem(11);
	padding-bottom: rem(0);
}

%heading-beta {
	color: module-color(type-heading);
	font-size: 1.85rem;
	font-weight: weight(bold);
	line-height: lh-unit(1.5);
	margin-top: lh-unit(2);
	padding-top: rem(11);
	padding-bottom: rem(1);
}

%heading-gamma {
	color: module-color(type-heading);
	font-size: 1.25rem;
	line-height: lh-unit(1);
	margin-top: lh-unit(1);
	padding-top: rem(8);
	padding-bottom: rem(4);
}

%heading-delta {
	@include sc;
}

%paragraph {
	@extend %typography-first-child;
	
	font-size: 1rem;
	line-height: lh-unit(1);
	padding-top: rem(9);
	padding-bottom: rem(3);
}


.ts {

	h1 {
		@extend %heading-alpha;
		@extend %heading;
	}

	h2 {
		@extend %heading-beta;
		@extend %heading;
	}

	h3,
	blockquote {
		@extend %heading-gamma;
		@extend %heading;
	}

	h4 {
		@extend %paragraph;
		@extend %heading-delta;
	}

	p,
	ul,
	ol {
		@extend %paragraph;
	}

	blockquote {
		// @extend ts .h3;
	}
}

._h1 {
	@extend %heading-alpha;
	@extend %heading;

	max-width: none;

	&--first {
		padding-top: lh-unit(2);

		@include min-width(bp(s)) {
			padding-top: lh-unit(3);
		}

		@include min-width(bp(m)) {
			padding-top: lh-unit(4);
		}
	}
}

._h2 {
	@extend %heading-beta;
	@extend %heading;
}

._h3 {
	@extend %heading-gamma;
	@extend %heading;

	color: module-color(type-heading);	
}

._h4 {
	@extend %paragraph;
	@extend %heading-delta;
}

._p {
	@extend %paragraph;
}

._p1 {
	@extend ._h3;

	font-style: italic;

	._h1 + & {
		margin-top: 0;
	}
}

/* ==|== Typography ======================
	Blockquotes
========================================== */

blockquote {
	font-style: italic;
	position: relative;
	text-align: center;
	padding: lh-unit(0.5) 0;

	@include min-width(bp(s)) {
		padding: lh-unit(0.5) unit();
	}

	&:before {
		background-color: color(accent-mid); // TODO: Var
		content: '';
		display: block;
		height: rem(1);
		margin-left: rem(-25); // TODO: Var
		position: absolute;
		left: 50%;
		top: rem(3) - lh-unit(0.5);
		width: rem(50); // TODO: Var
	}

	p {
		color: color(light); // TODO: Var
		font-size: inherit !important; // TODO: Refactor
		margin: 0 auto;

		&:first-child {
			margin-top: 0 !important; // TODO: Refactor
		}

		&:last-child {
			margin-bottom: 0 !important; // TODO: Refactor
		}
	}

	cite {
		font-style: normal;
		font-size: 1rem;
		margin-top: lh-unit(0.5);
		display: block;

		&:before {
			content: "—";
		}
	}
}

/* ==|== Typography ======================
	Modifiers
========================================== */

._t {

	&--center {
		text-align: center;
	}

	&--dropcap {

	  &:first-letter {
	    color: color(accent-mid); // TODO: Var
	    font-size: 3.375em; // TODO: Var
	    float: left;
	    line-height: 1;
	    margin: 0 rem(5) rem(-10) 0;
	    position: relative;
	  }
	}
}


/* ==|== Typography ======================
	Rule
========================================== */

hr {
	border: 0;
	background: rgba(color(mid), 0.2);
	display: block;
	height: 1px;
	margin: lh-unit(2) + rem(3) auto calc(#{lh-unit(2) + rem(-3)} - 2px);
	max-width: rem(w(text));
	position: relative;
	width: 100%;
}


/* ==|== Typography ======================
	Variants
========================================== */

.sc {
	@include sc;
}

abbr[title] {
	background: linear-gradient(to left, currentColor 33%, rgba(white, 0.01) 34%) repeat-x left 84%;
	background-size: rem(3) rem(1);
	border: 0;
}

::selection {
	background: module-color(selection-bg);
	color: module-color(selection-color);
	text-shadow: none;
}