@charset "UTF-8";

// ==== Framework ========================================================
// Hero
// =======================================================================


// ==== Global ==============================
// Resets
// ==========================================

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}


// ==== Global ==============================
// Extras
// ==========================================

::selection {
  background: color(accent);
  color: color(white);
}
