@charset "UTF-8";

/* =======================================================================
  Global
========================================================================== */


/* ==|== Global ==========================
  Box sizing fix
========================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}


/* ==|== Global ==========================
  Base setup
========================================== */

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
/*input,
button,*/ {
  font-family: 'skolar-web';
}


/* ==|== Global ==========================
  Base layout
========================================== */

html {
  display: flex;
  min-height: 100%;

  @include min-width(tp(base-dynamic-type)) {
    font-size: calc(0.56rem + 0.5vw);
  }
}

body {
  background: module-color(base-bg) center no-repeat;
  color: module-color(base-color);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: em($font-default-size);
  width: 100%;
}


/* ==|== Global ==========================
  Extras
========================================== */

::selection {
  background: color(accent);
  color: color(white);
}
