@charset "UTF-8";

/* =======================================================================
  Typography
========================================================================== */


// ==== Typography ==========================
// Global
// ==========================================

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin type-base {
  font-family: $font-family-base;
}

@mixin type-alt {
  font-family: $font-family-alt;
}

%type-base {
  @include type-base;

  line-height: $line-height-base;
}

%type-alt {
  @include type-alt;

  line-height: $line-height-alt;
}

html,
body {
  @extend %type-base;
}

.type {

  &--base {
    @extend %type-base;
  }

  &--alt {
    @extend %type-alt;
  }
}


/* ==|== Typography ======================
  Extends
========================================== */

%heading {
  display: block;
  margin: 2em 0 0.75em;
  max-width: 28em;
}

%h1 {
  @extend %type-alt;
  @extend %heading;

  @include font-sizes($h1-font-size-s, $h1-font-size-l);
}

%h2 {
  @extend %heading;

  @include font-sizes(32, 24);

  color: module-color(base-color-alt);
  font-weight: 600; // TODO: Var
}

%h3 {
  @extend %type-alt;
  @extend %heading;

  @include font-sizes(20, 16);

  color: module-color(base-color-alt);
  font-weight: 500; // TODO: Var
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

%paragraph {
  display: block;
  font-weight: 400; // TODO: Var
  margin: 1em 0 0.5em;
  max-width: 42em;
}

%size-p {
  @include font-sizes($p-font-size-s, $p-font-size-l);
}

%size-huge {
  @include font-sizes($huge-font-size-s, $huge-font-size-l);
}

%size-large {
  @include font-sizes($large-font-size-s, $large-font-size-l);
}

%p {
  @extend %paragraph;
  @extend %size-p;
}

%huge {
  @extend %paragraph;
  @extend %size-huge;
}

%large {
  @extend %paragraph;
  @extend %size-large;
}

/* ==|== Typography ======================
  Classes
========================================== */

.h1 {
  @extend %h1;
}

.h2 {
  @extend %h2;
}

.h3 {
  @extend %h3;
}

.p {
  @extend %p;
}

.huge {
  @extend %huge;
}

.large {
  @extend %large;
}


/* ==|== Typography ======================
  Modifiers
========================================== */

.h--side {
  text-orientation: sideways;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}


/* ==|== Typography ======================
  Extras
========================================== */

abbr {
  border: 0;
  text-decoration: none;
}

.sc {
  font-variant-caps: all-small-caps;
}
