@charset "UTF-8";

// ==== Modules ==========================================================
// Hero
// =======================================================================


// ==== Hero ================================
// Base
// ==========================================

.hero {

}


// ==== Hero ================================
// Typography
// ==========================================

.hero-title {
    color: #3F465C; // TODO: Var
    font-size: rem(120);
    line-height: 0.9;
    grid-column: 2 / span 10;
    margin: -0.9em + 0.15em 0 -0.45em;
}

.hero-subtitle {
    margin: -0.5em 0 0;
    grid-column: 3 / span 7;
}


// ==== Hero ================================
// Image
// ==========================================

.hero-image {
    grid-column: 1 / span 10;

    &__inner {
        background: module-color(hero-image-bg);
        display: block;
        padding-top: 50%;
        width: 100%;
    }
}
