@charset "UTF-8";

// ==== Modules ==========================================================
// Hero
// =======================================================================


// ==== Hero ================================
// Base
// ==========================================

.main--home {

    .h3 {
        align-self: start;
        justify-self: end;
    }
}

.home-work {

    &__col {
        grid-column: 3 / span 4;

        & + & {
            grid-column: 8 / span 4;
        }
    }
}
