.article__tldr {
  margin:rem(40) auto;
}

.article__description {
  // @extend .hero__header--beta;
}
.article__description--smaller {
  @include font-size(21);
  font-weight: $font-weight-normal;
  margin:#{$measure * 0.75} auto #{$measure-unit * 1.5};
  padding-top:0;
  @include max-width($bp-small) {
    @include font-size(20);
  }
  @include max-width($bp-tiny) {
    @include font-size(18);
  }
}

.article__data {
  @extend .sc;
  margin-bottom:rem(50);
}

.article__fixed-header {
  background: rgba($color-white,0.95);
  box-shadow: rgba($color-black,0.1) 0 0 ($measure-unit / 2);
  left: 0;
  transform: translateY(-110%);
  transition: transform .25s cubic-bezier(#{$bezier-nice});
  padding: $measure-unit / 4 0 $measure-unit / 4 $masthead-full;
  pointer-events: none;
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  @include max-width($tp-masthead-icon) {
    padding-left: $masthead-icon;
  }
  @include max-width($tp-masthead-hamburger) {
    display: none;
  }
  h1 {
    @include font-size(19);
    margin:rem(5) auto rem(7);
    overflow: hidden;
    padding-right: $measure-unit * 5;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    span {
      font-weight: $font-weight-normal;
    }
  }
  .js-screenleave + & {
    transform:translateY(0);
  }
  .group {
    max-width: $layout-max-width-suffix;
    position: relative;
    pointer-events: auto;
  }
}
.article__fixed-header__links {
  margin-top: $measure-unit * -1;
  position: absolute;
  right: 0;
  top: 50%;
  > div {
    color: lighten($color-accent, 15%);
  }
}
.article__fixed-header__link {
  display: inline-block;
  height: $measure-unit * 2;
  line-height: rem(37);
  text-align: center;
  vertical-align: top;
  width: $measure-unit * 2;
}