.article__tldr {
  margin:rem(40) auto;
}

.article__description {
  @extend .hero__header--beta;
}
.article__description--smaller {
  @include font-size(21);
  font-weight: $font-weight-normal;
  margin:#{$measure * 0.75} auto #{$measure-unit * 1.5};
  padding-top:0;
  @include max-width($bp-small) {
    @include font-size(20);
  }
  @include max-width($bp-tiny) {
    @include font-size(18);
  }
}

.article__data {
  @extend .sc;
  margin-bottom:rem(50);
}

.article__fixed-header {
  background: rgba($color-white,0.95);
  box-shadow: rgba($color-black,0.1) 0 0 ($measure-unit / 2);
  left: 0;
  transform: translateY(-110%);
  transition: transform .25s cubic-bezier(#{$bezier-nice});
  padding: $measure-unit / 4 0 $measure-unit / 4 $masthead-full;
  pointer-events: none;
  position:fixed;
  top: 0;
  width: 100%;
  z-index:2;
  @include max-width($tp-masthead-icon) {
    padding-left: $masthead-icon;
  }
  @include max-width($tp-masthead-hamburger) {
    display: none;
  }
  h1 {
    @include font-size(19);
    margin:rem(5) auto rem(7);
    span {
      font-weight: $font-weight-normal;
    }
  }
  h1,
  .btn {
    pointer-events:auto;
  }
  .js-screenleave + & {
    transform:translateY(0);
  }
}