body.contact {
  @include min-width($bp-small) {
    .list--large-icons__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &:before {
        margin-left: 0;
      }
    }
    .list--large-icons__top {
      flex: 1;
    }
  }
}