body.contact {
  .list--large-icons {
    display: flex;
  }
  .list--large-icons__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:before {
      margin-left: 0;
    }
  }
  .list--large-icons__top {
    flex: 1;
  }
  @include respond-to($bp-mid) {
    .list--large-icons,
    .list--large-icons__item {
      display: block;
    }
  }
}