.cv__content {
	margin-bottom: $measure-unit * 2;
}
.cv__title {
	margin-bottom: 0;
}
.cv__title--subtitle {
	margin-bottom: $measure-unit;
}
.cv__title--org {
	margin-right: $measure-unit / 4;
}
.cv__title--date {
	font-weight: $font-weight-normal;
}