.cv__content {
	// margin-bottom: $measure-unit * 2;
}
.cv__title {
	margin-bottom: 0;
}
.cv__title--subtitle {
	margin-bottom: unit();
}
.cv__title--org {
	margin-right: unit(0.5);
}
.cv__title--date {
	font-weight: weight(alt-regular);
}