/**
 * FOOTER
 *
 * Handles the styling of the footer
**/

/* ==|== Footer ==========================
  Base
========================================== */

.footer {
  $_: &;
  left: 0;
  padding: 0 unit();
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 999; // TODO: Var
}