.footer {
  backface-visibility: hidden;
  overflow: hidden;
  margin-top: 0;
  padding: unit(4) 0 unit(2);
  position: relative;
  width: 100%;
  z-index: 1;
  p,
  ul {
    position: relative;
    z-index: 1;
    @include font-size(16);
    @include max-width($bp-small) {
      @include font-size(15);
    }
    @include max-width($bp-tiny) {
      @include font-size(14);
    }
  }
}