/**
 * HERO
 *
 * Styles the hero – image behind the main content
**/

/* ==|== Hero ============================
  Base
========================================== */

.hero {
  bottom: unit();
  left: unit(0.5);
  max-height: 66vh;
  position: absolute;
  right: unit(0.5);
  top: unit();

  .page--full-hero & {
    // Hack: Double value to fix the iOS issues with 100vh
    max-height: 98vh;
    max-height: calc(100vh - #{unit(2)});

    @include min-width(bp(s)) {
      left: unit();
      right: unit();
    }
  }

  &__bg,
  &__overlay,
  &__cover {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__bg {
    background: module-color(base-bg) center top no-repeat;
    background-size: cover;
    filter: grayscale(1);
    opacity: 0.25;

    @supports(mix-blend-mode: overlay) {
      mix-blend-mode: overlay;
      opacity: 0.5;
    }
  }

  &__overlay {
    background: linear-gradient(module-color(base-bg) 5%, transparent 30%, transparent 50%, module-color(base-bg));
  }

  &__cover {
    background-color: module-color(base-bg);
    opacity: 1;
    transition: timing(hero) easing();

    .js--hero-loaded & {
      opacity: 0;
    }
  }
}