body.index,
body.x404 {
  .hero {
    min-height: 100vh;
    padding: rem(50) 0;
  }
  .hero__scroll {
    display: none;
  }
  .list--large-icons {
    max-width: none;
    margin-top: rem(32);
  }
  .list--large-icons__link {
    color: $color-white;
    @include hover {
      color: $color-link-reverse;
    }
    .small-caps {
      color: $color-link-reverse;
    }
  }
}