.intro-portfolio {

}
%intro-portfolio__link {
  background:center no-repeat;
  background-size:contain;
  height:rem(100);
  text-indent:-9999px;
  width:100%;
  display: block;
  margin:0 auto;
  max-width:rem(180);
}
.intro-portfolio__link {
  @extend %intro-portfolio__link;
  opacity:0.5;
  @include hover {
    opacity:0.75;
  }
  @include active {
    transform:scale(0.95);
  }
}
.intro-portfolio__link--inactive {
  @extend %intro-portfolio__link;
  opacity:0.1;
}