/**
 * JOURNAL
 *
 * Journal and blog post specific styling
 */

/* ==|== Journal =========================
  Base
========================================== */

.blog {

  &__post {
    // padding-top: lh-unit(2);
    width: 100%;

    // @include min-width(bp(s)) {
      // padding-top: lh-unit(4);
    // }

    &--has-hero {
      // padding-top: lh-unit(3);

      // @include min-width(bp(s)) {
        // padding-top: lh-unit(6);
      // }
    }
  }

  &__title {
    max-width: none;
    text-align: center;
  }

  &__subtitle {
    @include sc;

    font-style: normal;
    text-align: center;
    padding-bottom: lh-unit(2);

    a {
      background: none;
    }
  }

  &__tldr {

  }

  &__more {
    margin: 0 auto;
    max-width: rem(w(text));

    .col {
      margin-top: rem(4);
    }
  }
}

/* ==|== Journal =========================
  Anchors
========================================== */

// .js [data-anchors] {

//   h2[id] {
//     position: relative;
//     transition: color timing() easing();

//     &:before {
//       color: transparent;
//       content:'#'attr(id);
//       left: 0;
//       position: absolute;
//       text-indent: rem(-14);
//       transition: inherit;
//       width: 100%;
//       z-index: 1;
//     }

//     &:hover {
//       color: transparent;

//       &:before {
//         color: module-color(type-heading);
//       }
//     }
//   }
// }