.masthead {
  background: $color-black;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow: auto;
  z-index: 5;
  width: 100%;
  @include min-width($tp-masthead-hamburger) {
    height: 100%;
    top: 0;
    width:auto;
  }
}