.masthead {
  background: $color-black;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  z-index: 5;
  width: 100%;
  @include min-width($tp-masthead-hamburger) {
    left: auto;
    height: 100%;
    right: 0;
    top: 0;
    width: 33.3%;
  }
  &__hero {
    &,
    &__full {
      backface-visibility: hidden;
      background: center no-repeat;
      background-size: cover;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    &__full {
      background-clip: content-box;
      padding-right: $masthead-full;
    }

  }
}