/**
 * MASTHEAD
 * Styles the main page masthead
 *
 * @requires 
**/

/* ==|== Masthead ========================
  Base
========================================== */

.masthead {
  $_: &;
  left: 0;
  padding: 0 unit();
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999; // TODO: Var
  &__logo {
    @include sc;
    font-size: 1em;
    background: module-color(base-bg);
    color: module-color(nav-color);
    margin: 0;
    line-height: unit();
    padding: unit(0.5) unit();
  }
}