/**
 * MOMENTS
 *
 * Controls the styling of moments
 */

/* ==|== Moments =========================
  Moment
========================================== */

.moment {

  // ._h2,
  // ._h4,
  // ._p,
  // ._p1 {
  //   text-align: center;
  // }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: lh-unit(18);
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
  }
}