.nav {
  display: flex;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
  @include min-width($tp-masthead-hamburger) {
    margin-left: auto;
    padding: $measure-unit * 2 0;
    width: $masthead-full;
  }
}
.nav__list {
  padding:0;
  width:100%;
  max-width:$layout-max-width-wide-suffix;
  position: relative;
  margin:auto;
}
[class^="nav__link--"] {
  font-family: $font-stack-alt;
  @include font-size(12);
  display: block;
  color: $color-white;
  letter-spacing: 0.04em;
  padding: $measure-unit / 4;
  text-decoration: none;
  text-transform: uppercase;
  transition:color .25s cubic-bezier(#{$bezier-nice}), background .25s cubic-bezier(#{$bezier-nice});
  overflow: hidden;
  &:before {
    color: $color-white;
    display: block;
    font-size: $measure-unit * 2;
    height: $measure-unit * 3;
    line-height: $measure-unit * 3 * 1.125;
    margin: 0 auto;
    overflow: hidden;
    opacity: 1;
    transition:inherit;
    width: $measure-unit * 3;
  }
  @include hover {
    color:$color-white;
  }
}
.nav__label {
  border-bottom:0;
}
abbr.nav__label {
  background: none;
  border-bottom: 0;
  text-shadow: none;
}