/**
 * NAVIGATION
 *
 * Controls the navigation
**/

/* ==|== Navigation ======================
  Base
========================================== */

.nav {
  display: flex;
  padding: 0 unit();

  &__list {
    background: module-color(base-bg);
    display: flex;
    margin: 0 auto;
    padding: 0 unit(0.5);
    width: auto;

    .masthead & {
      margin-right: 0;
    }
  }

  &__item {

  }

  &__link {
    @include sc;

    background: none;
    color: module-color(nav-color);
    display: block;
    letter-spacing: em(0.5);
    line-height: unit();
    padding: unit(0.5);
    position: relative;

    abbr {
      background: none;
    }
    .masthead & {
      top: em(1);
    }
    .footer & {
      top: em(-1);
    }
  }
}