
.portfolio-featured__item {
  background: $color-black;
  color: $color-white;
  min-height: 0;
  padding:15% 0;
  &:first-of-type {
    padding-top: 0;
  }
  .article__description {
    margin-bottom: 15%;
  }
  img {
    border-radius: 0;
  } 
  @include max-width($bp-mid) {
    padding:$measure-unit * 2 0 $measure-unit;
  }
}
%portfolio-featured__bg {
  background-position: center top;
}
.portfolio-featured__bg--light {
  @extend %hero__bg;
  @extend %portfolio-featured__bg;
  
}
.portfolio-featured__bg--dark {
  @extend %hero__bg;
  @extend %portfolio-featured__bg;
  opacity: 1;
}
.portfolio__copy {
  width:calc(100% - #{rem(400)});
  vertical-align: middle;
  display: inline-block;
  h2 {
    padding-top:rem(10);
    padding-left:rem(20);
  }
  p {
    padding-left:rem(20);
  }
  .btns {
    padding-left:rem(10);
  }
  @include max-width($bp-large) {
    width:calc(100% - #{rem(300)});
  }
  @include max-width($bp-mid) {
    width:100%;
    display: block;
    h2,
    p,
    .btns {
      padding-left:0;
    }
  }
}
.browser-window {
  display: inline-block;
  width: rem(400);
  vertical-align: middle;
  border-radius:rem(3);
  overflow: hidden;
  border:rem(2) solid $color-dark;
  @include max-width($bp-large) {
    width:rem(300);
  }
  @include max-width($bp-mid) {
    max-width:rem(250);
    display: block;
    margin:0 auto rem(20);
  }
  &:before {
    content:'•••';
    height:rem(20);
    background:$color-dark;
    color:rgba($color-white,0.4);
    width:100%;
    display: block;
    line-height:rem(20);
    font-size:rem(25);
    letter-spacing:rem(-5);
  }
}
.browser-window__overflow {
  overflow: auto;
  max-height: rem(270);
  @include max-width($bp-large) {
    max-height: rem(225);
  }
  @include max-width($bp-mid) {
    max-height: rem(180);
  }
}

.portfolio-other {
  @include min-width($bp-mid) {
    margin-left: $measure-unit * -1;
    width: calc(100% + #{($measure-unit * 2)});
  }
}
.portfolio-other__item {
  display: inline-block;
  margin-bottom: $measure-unit * 2;
  padding: 0 $measure-unit;
  vertical-align: top;
  width: 33.33%;
  @include max-width($bp-large) {
    width: 50%;
  }
  @include max-width($bp-mid) {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
  }
}
// Return to portfolio
.btns--portfolio-menu {
  .btn {
    @include hover {
      .btn__label {
        width: rem(170);
      }
    }
  }
}