.testimonials {
  text-align: center;
}
.testimonials--column {
  display: inline-block;
  text-align: left;
  margin: rem(32) auto;
  vertical-align: top;
  @include min-width($bp-mid) {
    width: calc(50% - #{rem(16)});
    &:nth-of-type(2n) {
      margin-left: rem(32);
    }
  }
}