/**
 * Triathlon SCSS Partial
 */


/* ==|== Triathlon =================
  Colour overrides
========================================== */

body.triathlon {
  article,
  .footer {
    a {
      color: $color-b-macmillan-2;
      @include hover {
        color: $color-b-macmillan-1;
      }
      @include active {
        color: $color-black;
      }
    }
  }
  .btn {
    background-color: $color-b-macmillan-2;
    border-color: $color-b-macmillan-2;
    color: $color-white;
    @include hover {
      background-color: $color-b-macmillan-1;
      border-color: $color-b-macmillan-1;
    }
  }
  .btn--outline {
    border-color: $color-b-macmillan-2;
    color: $color-b-macmillan-2;
    @include hover {
      border-color: $color-b-macmillan-1;
      color: $color-b-macmillan-1;
    }
  }
  .tabs__nav__link--active {
    &:after {
      background: $color-b-macmillan-2;
    }
    &:hover,
    &:focus {
      &:after {
        background: $color-b-macmillan-1;
      }
    }
    &:active {
      &:after {
        background: $color-black;
      }
    }
  }
}

/* ==|== Triathlon =================
  Typography
========================================== */

%has-macmillan-type {
  font-family: "macmillan", $font-stack-regular;
  font-weight: normal;
  line-height: 1;
}
body.triathlon {
  h1,
  article h2,
  article h3 {
    color: $color-b-macmillan-1;
    @extend %has-macmillan-type;
  }
  article h2 {
    @include font-size(42);
    margin: $measure-unit * 4 auto $measure-unit * 2;
    @include max-width($bp-small) {
      @include font-size(38);
    }
    @include max-width($bp-tiny) {
      @include font-size(32);
    }
  }
  article h3 {
    @include font-size(32);
    @include max-width($bp-small) {
      @include font-size(28);
    }
    @include max-width($bp-tiny) {
      @include font-size(24);
    }
  }
}
.triathlon-strava__item {
  h3 {
    @extend %has-macmillan-type;   
  }
}

/* ==|== Triathlon =================
  Hero
========================================== */

.hero--triathlon__events {
  margin-bottom: $measure-unit;
  .sc {
    display: block;
  }
}
.triathlon__event--plx {
  background: $color-black;
  color: $color-white;
  display: flex;
  margin: $measure-unit * 3 0;
  padding-top: 33vh;
  min-height: 66vh;
  blockquote {
    border-color: rgba($color-white, 0.25);
  }
  & + & {
    margin-top: $measure-unit * -3;
  }
}
.tri__event__complete {
  display: block;
}
.triathlon__event--plx__bg {
  height: 120%;
}
.triathlon__event--plx__content {
  margin: auto auto 0;
  padding: $measure-unit 0;
  position: relative;
  width: 100%;
}

.hero--tri__next {
  position: relative;
  margin: 0 0 $measure-unit;
  @include min-width($bp-small) {
    padding: 0 rem(250) 0 0;
  }
}
.hero--tri__clock {
  color: $color-text;
  display: block;
  @include font-size(24);
  font-family: monospace, serif;
  margin-left: rem(-5);
  padding: 0 0 $measure-unit;
  @include min-width($bp-small) {
    @include font-size(30);
    margin-left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.hero--tri__clock__num {
  background: $color-background;
  border-radius: rem(3);
  padding: 0 $measure-unit / 4 $measure-unit;
  position: relative;
  &:after {
    bottom: rem(2);
    // color: $color-text;
    content: attr(data-unit);
    @include font-size(12);
    left: rem(($measure / 4) + 2);
    position: absolute;
  }
}
.hero--tri__clock__sep {
  animation: pulse 1.5s infinite;
  color: $color-background;
  font-size: 0.75em;
  position: relative;
  top: $measure-unit / 4;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.triathlon-strava__item {
  &:before {
    font-size: rem(36);
  }
  h3 {
    margin-top: 0;
  }
  strong {
    display: block;
  }
}

.strava__section--hidden {
  display: none;
}