body.triathlon {
  main,
  .footer {
    a {
      color: $color-b-macmillan-2;
      @include hover {
        color: $color-b-macmillan-1;
      }
      @include active {
        color: $color-black;
      }
    }
  }
  main {
    .btn {
      color: $color-white;
      @include hover {
        color: $color-white;
      }
    }
  }
  .btn {
    background-color: $color-b-macmillan-2;
    border-color: $color-b-macmillan-2;
    // color: $color-white;
    @include hover {
      background-color: $color-b-macmillan-1;
      border-color: $color-b-macmillan-1;
    }
  }
  .btn--outline {
    border-color: $color-b-macmillan-2;
    color: $color-b-macmillan-2;
    @include hover {
      border-color: $color-b-macmillan-1;
      color: $color-b-macmillan-1;
    }
  }
  .js & {
   [data-anchors] {
      h2 {
        &:before {
          color: $color-b-macmillan-2;
        }
      }
    }
  }
  .hero__header--alpha {
    img {
      margin-left: rem($measure * -5);
      max-width: none;
      width: calc(100% + #{rem($measure * 10)});
      @include max-width($bp-mid) {
        margin-left: rem($measure * -3);
        width: calc(100% + #{rem($measure * 6)});
      }
      @include max-width($bp-small) {
        margin-left: rem($measure * -2);
        width: calc(100% + #{rem($measure * 4)});
      }
      @include max-width($bp-tiny) {
        margin-left: rem($measure * -1);
        width: calc(100% + #{rem($measure * 2)});
      }
    }
    @include max-width($tp-masthead-hamburger) {
      margin-top: 0;
    }
  }
  .hero__header--beta,
  .btns {
    position: relative;
    z-index: 1;
  }
  .article__fixed-header {
    background: none;
    box-shadow: none;
    opacity: 0;
    text-align: right;
    transform: none;
    transition:all .25s cubic-bezier(#{$bezier-nice});
    visibility: hidden;
  }
  .article__fixed-header--toggled {
    opacity: 1;
    transform: none;
    visibility: visible;

/* ==|== Triathlon =================
  Typography
========================================== */

body.triathlon {
  h1,
  main h2 {
    font-family: "macmillan", $font-stack-regular;
    font-weight: normal;
  }
}
.hero {
  a[class^="triathlon__event--"] {
    color: $color-b-macmillan-2;
    @include hover {
      color: $color-b-macmillan-1;
    }
    @include active {
      color: $color-white;
    }
  }
}
.hero--triathlon__events {
  margin-bottom: $measure-unit;
  .sc {
    display: block;
  }
}
.triathlon__event--complete {
  opacity: 0.5;
}
a.triathlon__event--complete {
  transition:color .25s cubic-bezier(#{$bezier-nice}), opacity .25s cubic-bezier(#{$bezier-nice});
  @include hover {
    opacity: 1;
  }
} 
.triathlon__event--plx {
  background: $color-black;
  color: $color-white;
  display: flex;
  margin: $measure-unit * 3 0;
  min-height: 60vh;
  blockquote {
    border-color: rgba($color-white, 0.25);
  }
  & + & {
    margin-top: $measure-unit * -3;
  }
}
.tri__event__complete {
  display: block;
}
.triathlon__event--plx__bg {
  @extend %hero__bg;
  height: 120%;
}
.triathlon__event--plx__content {
  margin: auto;
  max-width: $layout-max-width-suffix;
  padding: $measure-unit * 5 0 $measure-unit * 4;
  position: relative;
  a {
    @include active {
      color: $color-white !important;
    }
  }
}
.triathlon__event--plx__image-title {
  margin: 0 0 $measure-unit;
}

.hero--tri__next {
  position: relative;
  margin: 0 0 $measure-unit;
  @include min-width($bp-small) {
    padding: 0 rem(250) 0 0;
  }
}
.hero--tri__clock {
  display: block;
  @include font-size(24);
  font-family: monospace, serif;
  margin-left: rem(-5);
  padding: 0 0 $measure-unit;
  @include min-width($bp-small) {
    @include font-size(30);
    margin-left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.hero--tri__clock__num {
  background: rgba($color-black, 0.5);
  border-radius: rem(3);
  padding: 0 $measure-unit / 4 $measure-unit;
  position: relative;
  &:after {
    bottom: rem(2);
    color: $color-accent;
    content: attr(data-unit);
    @include font-size(12);
    left: rem(($measure / 4) + 2);
    position: absolute;
  }
}
.hero--tri__clock__sep {
  animation: pulse 1.5s infinite;
  color: $color-accent;
  font-size: 0.75em;
  position: relative;
  top: $measure-unit / 4;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.triathlon__event__photos {
  display: flex;
  margin: $measure-unit * 2 auto;
  text-align: center;
}
.tri__event__photos__item {
  background: center no-repeat;
  background-size: cover;
  display: inline-block;
  flex: 1;
  max-height: $measure-unit * 16;
  margin-left: $measure-unit;
  @include max-width($bp-tiny) {
    margin-left: $measure-unit / 2;
  }
  &:first-child {
    margin-left: 0;
  }
  &[href] {
    color: $color-white !important;
    position: relative;
    &:before,
    &:after {
      left: 0;
      opacity: 0;
      position: absolute;
      transition: opacity .25s cubic-bezier(#{$bezier-nice}), transform .25s cubic-bezier(#{$bezier-nice});
      width: 100%;
    }
    &:before {
      @include font-size($measure * 3);
      left: 0;
      margin: $measure-unit * -2 0 0;
      top: 50%;
      transform-origin: center center;
      width: 100%;
      z-index: 1;
      @include max-width($bp-small) {
        @include font-size($measure * 2);
        margin-top: $measure-unit * -1.25;
      }
      @include max-width($bp-tiny) {
        @include font-size($measure * 1.5);
        margin-top: $measure-unit * -1;
      }
    }
    &:after {
      background: rgba($color-black, 0.75);
      content: '';
      height: 100%;
      top: 0;
    }
    @include hover {
      &:before {
        opacity: 1;
      }
      &:after {
        opacity: 0.8;
      }
    }
    @include active {
      &:before {
        transform: scale(0.95);
      }
      &:after {
        opacity: 1;
      }
    }
  }
  img {
    opacity: 0;
    z-index: 2;
  }
}