<h2>Events</h2>
<% data.triathlon.events.each_with_index do |event, index|
  event_content = "<h3 id=\"#{event.slug}\">#{event.title}</h3>"
  event_content += "<p><em>#{event.full_date}</em></p>"
  if event.desc
    event.desc.each do |text|
      event_content += "<p>#{text}</p>"
    end
  end
  event_content += "</div>"
  if event.complete
    event_content += "<div class=\"triathlon__event--plx__right\"><blockquote2 class=\"blockquote--long2\">"
    event.complete.each_with_index do |text, index|
      event_content += "<p>#{index == 0 ? "<strong class='sc tri__event__complete'>Completed</strong> " : "" }#{text}</p>"
    end
    event_blog = ""
    if event.complete_blog
      event_blog = "<p class=\"btns--left\">#{link_to "Read about it in my journal", event.complete_blog, :class => "btn"}</p>"
    end
    event_content += "</blockquote2>#{event_blog}</div>"
    event_content = "<div class=\"group\"><div class=\"triathlon__event--plx__left\">#{event_content}</div></div>"
    if event.complete_image
      event_content = "<div class=\"triathlon__event--plx\" data-plx=\"parent\"><div class=\"triathlon__event--plx__bg\" style=\"background-image: url(#{event.complete_image});\" data-plx=\"child\"></div><div class=\"triathlon__event--plx__content\">#{event_content}</div>"
    end
  else
    event_content = "<div class=\"group\">#{event_content}</div>"
  end %>
  <%= event_content %>
<% end %>