<div class="group">
  <h2>Events</h2>
</div>
<% data.triathlon.events.each_with_index do |event, index|
  event_content = "<h3 id=\"#{event.slug}\">#{event.title}</h3>"
  event_content += "<p><em>#{event.full_date}</em></p>"
  if event.desc
    event.desc.each do |text|
      event_content += "<p>#{text}</p>"
    end
  end
  if event.complete
    event.complete.each_with_index do |text, index|
      event_content += "<p>#{index == 0 ? "<strong class='sc tri__event__complete'>Completed</strong> " : "" }#{text}</p>"
    end
    if event.complete_blog
      event_content += "<p class=\"btns--left\">#{link_to "Read about it in my journal", event.complete_blog, :class => "btn"}</p>"
    end
    event_content = "<div class=\"group\"><div class=\"triathlon__event--plx__left\">#{event_content}</div></div>"
    if event.complete_image
      event_content = partial("partials/hero", locals: {
        image: event.complete_image,
        image_small: event.complete_image,
        image_loc: "",
        extra: event_content
      })
    end
  else
    event_content = "<div class=\"group\">#{event_content}</div>"
  end %>
  <%= event_content %>
<% end %>