<div class="group">
  <%= partial "pages/triathlon/training" %>
  <div data-js="insert-strava-data"></div>
  <p class='btns--center'><a href='https://www.strava.com/athletes/6578573' class='btn--outline' data-js='see-more-strava'>See more</a></p>
</div>