<h2 class="heading--gutter">Categories</h2>
<ul class="list--inline"><% blog.tags.each do |tag, articles| %><li class="sc"><%= link_to "#{tag}", tag_path(tag), :class => "", :title => "Read the #{articles.size} posts on #{tag}" %></li><% end %></ul>