---
title: Forbidden
description: That’s a page or file that you shouldn’t be looking at.
page_classes: page--403 page--full-hero
hero: true
---

<div class="col">
  <h1 class="_h1">Nope.</h1>
  <p class="_p1">That’s a page or file that you shouldn’t be looking at. I’ll let it slide this time, but next time it won’t be so pretty. Why not <%= link_to "head back to the start quietly", "index.html", :title => "Go back to the homepage" %>, and we’ll forget all about it?</p>
</div>