---
title: All about Rob
nav: about
description: I’m a web designer with a love for gorgeous typography, delicious interaction, and attention to detail.
---

<main id="content" class="wrapper" data-page="home">
  <%= partial "partials/hero", locals: {
    title: current_page.data.title
    # subtitle: current_page.data.description
  } %>
  <article class="tabs__nav-parent">
    <%= partial "partials/tabs", :locals => { :tab_data => data.about_me.tabbed_sections, :page_slug => "about" } %>
  </article>
  <article class="type group">
    
  </article>
</main>