---
title: About this site
nav: about
description: There’s a lot of magic behind robsterlini.co.uk…
---

<section id="content" class="wrapper" data-page="home">
  <main>
    <article class="type group">
      <h1><%= current_page.data.title %></h1>
      <p class="article__description"><%= current_page.data.description %></p>
      <%= partial "pages/colophon" %>
    </article>
  </main>
</section>