---
title: About this site
description: There’s a lot of magic behind robsterlini.co.uk…
---

<article class="group cols">
  <div class="col col--33">
    <h1 class="_h1"><%= current_page.data.title %></h1>
    <p class="_p1"><%= current_page.data.description %></p>
  </div>
  <div class="col col--66 col--break ts">
    <%= partial "pages/colophon" %>
  </div>
</article>