---
title: About this site
nav: about
description: There’s a lot of magic behind robsterlini.co.uk…
---

<section id="content" class="wrapper" data-page="home">
  <main>
    <article class="type group">
      <h1><%= current_page.data.title %></h1>
      <p class="article__description"><%= current_page.data.description %></p>
      <h2>Gorgeous assets</h2>
      <h3>Type</h3>
      <p>All of the type is set in <a href="https://www.rosettatype.com/skolar" title="Check out Skolar on the Rosetta website">Skolar</a>, from the amazing, award-winning <a href="https://www.rosettatype.com" title="Check out the Rosetta website">Rosetta</a> type foundry.</p>
      <p>Thoughout my site’s life, I’ve hosted Skolar on Typekit, Fontdeck; but as part of the static site move I converted it all over to self-hosting. I was <strong>massively lucky</strong> that <a href="http://davi.cz/" title="Check out David’s website">David Březina</a> – the man behind Skolar – reached out and helped me subset the exact glyphs I need. We reduced the size of the fonts being served down from 750kb+ to ~150kb, whilst maintaining the opentype features that I wanted to serve!</p>
      <h3>Iconography</h3>
      <p>I’d love to claim the icons as my own, but they’re by the ever-talented <a href="https://twitter.com/sensibleworld" title="Follow Jory on Twitter">Jory Raphael</a>. You can check out the growing icon collection at <a href="http://symbolicons.com/" title="Check out the icons available through Symbolicons">symbolicons.com</a>.</p>
      <h3>Photography</h3>
      <p>The majority of photos on this site have been taken (somewhat haphazardly) by myself, with a few exceptions:</p>
      <ul>
        <li><a href="http://instagram.com/p/q_eClwP-xN/?modal=true" title="Check out my headshot on Instagram">My headshot</a> was taken by <a href="https://twitter.com/rameet" title="Follow Rameet on Twitter">Rameet</a> – Fueled’s amazing CEO;</li>
        <li>All of the gifs on the error pages (<a href="/404" title="Check out the 404 page">404</a> &amp; <a href="/403" title="Check out the 403 page">403</a>) are taken from the glorious world-wide web.</li>
      </ul>
      <h2>The technologies</h2>
      <h3>The build</h3>
      <p>The site is built with <a href="https://middleman.com" title="Check out the Middleman App site">Middleman</a> – a static site generator written in Ruby. Moving to a static site was a big jump, but with my site having a small footprint and the customisation available, it was a no-brainer.</p>
      <p>It uses the <a href="https://github.com/fueled/fueled.com" title="Check out the Fueled Boilerplate">Fueled Boilerplate</a> as a foundation, which harnesses the power of Sass, smashes down all the JS into one file, and compiling everything down on the fly to speed up my local development.</p>
      <h3>Hosting</h3>
      <p><a href="http://www.mediatemple.net/#a_aid=512a823fed22d" title="Check out what MediaTemple have on offer">MediaTemple</a> are the awesome guys and gals who host my site, and provide my <a href="/" title="Check out my sterlini.co link shortner">sterlini.co</a> and <a href="/" title="robsterlini.com">robsterlini.com</a> domains. 123-reg are the (horrible) gremlins behind my <em>.co.uk</em> domain, but they’re real bastards so I won’t link to&nbsp;them.</p>
      <h3><abbr title="Repository">Repo</abbr></h3>
      <p>The repo for this site is currently private, but I’ve had requests to make it public, so am in the process of opening it up to the public. The repo will be <a href="https://github.com/rbs-fueled/robsterlini" title="Check out robsterlini.co.uk on GitHub">on GitHub</a> when it&nbsp;is.</p>
      <h2>Thanks</h2>
      <p>Lots of people have helped me out throughout my site, whether that be through development, testing, or just being supportive of what I do <em class="small-caps">*cough*</em> mum and dad <em class="small-caps">*cough*</em>. Here are just a few:</p>
      <ul>
        <li>The <a href="http://reading.ac.uk/typography" title="Check out the University of Reading’s world-famous Typography Department’s website">University of Reading <abbr title="Typography and Graphic Communication Department">Typo</abbr></a> lecturers for helping me realise just how important considered typography is.</li>
        <li><a href="https://twitter.com/mrcthms" title="Follow Marc on Twitter">Marc Thomas</a> (and the Fueled team), for putting up with my endless Ruby questions, and helping me push my limits in my role at Fueled that made this site possible;</li>
        <li><a href="https://twitter.com/mrbrezina" title="Follow David on Twitter">David Březina</a> for putting in so much extra legwork to help serve Skolar in all its glory with the smallest font-size possible!</li>
      </ul>
      <p>There are definitely more people that need thanking, and this list will grow as I remember them. I promise!</p>
      <h2>The small print</h2>
      <h3>Be inspired, but don’t steal</h3>
      <p>I’m all for the open web, and all that, but you have to be respectful about it. If there’s a particular aspect of my site that you like, by all means use it as inspiration and work it into your design, but please don’t just outright burgle huge chunks of it. I can’t stop you, but you don’t learn anything by copying code like for like.</p>
      <p>That said, if there are any particlar bits that you love and want to know how (or why) I’ve implemented them in that way then <a href="/contact" title="Get in touch">don’t hesitate to ask</a>.</p>
      <h3 id="cookies">Cookies</h3>
      <p>I use a select few cookies on my site, the majority of which are to provide analytics so I can improve my site for the people who are actually accessing it. By all means block the cookies, but if you haven’t then thanks for being awesome!</p>
    </article>
  </main>
</section>