---
title: About this site
nav: about
description: There’s a lot of magic behind robsterlini.co.uk…
---

<article class="ts group cols">
  <div class="col col--33">
    <h1><%= current_page.data.title %></h1>
    <p><em><%= current_page.data.description %></em></p>
  </div>
  <div class="col col--66">
    <%= partial "pages/colophon" %>
  </div>
</article>