---
title: Curriculum Vitae
description: A brief look at my employment, education and extra curriculars.
no_masthead: true
---

<% # Back to about me %>
<div class="btns--menu btns--about-menu">
  <a href="/portfolio" title="Go back to my portfolio" class="btn btn--icon ss-nav-about"><span class="btn__label">Back to about me</span></a>
</div>

<section id="content" class="wrapper">
  <main>
    <article class="type group">
      <h1><%= current_page.data.title %></h1>
      <p class="article__description"><%= current_page.data.description %></p>
    </article>
  </main>
</section>