---
title: Curriculum Vitae
description: A brief look at my employment, education and extra curriculars.
---

<div class="col col--33">
  <h1 class="_h1">CV</h1>
  <p class="_p1">In short I graduated from the University of Reading with a first-class degree in Typography, I work at Fueled and as a freelance front-end developer, and in my spare time I’m in triathlon training, watching Spurs, or playing with <span class=\"sc\">LEGO</span>.</p>
  <p class="_p">Oh, and you won’t find any of that “I’m 95% Photoshop, 85% HTML” bollocks on here. I use the right tools for the right jobs, and do it very well. On the few occassions where I’m unfamiliar or inexperienced with some aspect of a project, I’ll work overtime to bring myself up to speed on it.</p>
</div>
<div class="col col--break col--66 ts">
  <%
    def cv_section(cv_title, cv_data)
      string = "<h2 class=\"heading--gutter\" id='#{cv_title.to_slug}'>#{cv_title}</h2>"
      cv_data.each_with_index do |item, index|
        cv_slug = item.title.to_slug
        cv_set = "#{cv_slug}-#{index}"
        date = item.date ? " <span class='cv__title--date'>#{item.date}</span>" : ""
        string += "<h3 id='#{cv_slug}' class='cv__title'><span class='cv__title--org'>#{item.title}</span>#{date}</h3>"
        string += "<p class='_h4'>#{item.subtitle}</p>"
        if item.copy
          item.copy.each_with_index do |text, index|
            string += "<p data-cv-#{item.copy.length > 1 ? index >= 1 ? "hide" : "show" : "none"}='#{cv_set}'>#{text}</p>"
          end
        end
      end
      return string
    end
  %>
  <%= cv_section("Employment", data.cv.employment) %>
  <%= cv_section("Education", data.cv.education) %>
  <%= cv_section("In my own time", data.cv.extras) %>
</div>
