---
title: Curriculum Vitae
description: A brief look at my employment, education and extra curriculars.
---

<section id="content" class="wrapper">
  <main>
    <article class="type group">
      <h1><%= current_page.data.title %></h1>
      <p class="article__description"><%= current_page.data.description %></p>
    </article>
  </main>
</section>