---
title: Curriculum Vitae
description: A brief look at my employment, education and extra curriculars.
no_masthead: true
no_footer: true
---

<% # Back to about me %>
<div class="btns--menu btns--about-menu">
  <a href="/about" title="Go back to about me" class="btn btn--icon ss-nav-about"><span class="btn__label">Back to about me</span></a>
</div>

<section id="content" class="wrapper">
  <main>
    <article class="cv__content group" data-anchors>
      <h1><%= current_page.data.title %></h1>
      <p class="article__description">In short I graduated from the University of Reading with a first-class degree in Typography, I work at Fueled, and in my spare time I’m in triathlon training, watching Spurs or playing with <span class="sc">LEGO</span>.</p>
      <p>I love my job at Fueled, but you never really know what lies ahead. I’m happy to chat about alternatives, but forgive me if it doesn’t top what I’ve already got!</p>
      <%
        def cv_section(cv_title, cv_data)
          string = "<h2 id='#{cv_title.to_slug}'>#{cv_title}</h2>"
          cv_data.each do |item|
            date = item.date ? " <span class='cv__title--date'>#{item.date}</span>" : ""
            string += "<h3 id='#{item.title.to_slug}' class='cv__title'><span class='cv__title--org'>#{item.title}</span>#{date}</h3>"
            string += "<p class='small-caps cv__subtitle'>#{item.subtitle}</p>"
            if item.copy
              item.copy.each_with_index do |text, index|
                string += "<p data-cv='#{item.copy.length > 1 ? index >= 1 ? "hide" : "show" : "none"}'>#{text}</p>"
              end
            end
          end
          return string
        end
      %>
      <%= cv_section("Employment", data.cv.employment) %>
      <%= cv_section("Education", data.cv.education) %>
      <%= cv_section("In my own time", data.cv.extras) %>
    </article>
  </main>
</section>