---
title: Web designer
nav: home
description: I’m a web designer with a love for gorgeous typography, delicious interaction, and attention to detail.
hero: main.jpg
hero_small: main_600.jpg
no_footer: true
no_masthead: true
priority: 1.0
---

<section id="content" class="wrapper" data-page="home">
  <%
    hero_extra = "<p>I work for <a href='http://fueled.com' title='Visit the Fueled website'>Fueled</a>, but take on freelance projects that speak to me! Oh, and I’m raising money for Macmillan by competing in a whole bunch of crazy events throughout 2015. #{link_to "Read and donate?", "triathlon.html", :title => "Read about my fundraising plans here"} You know you want to!</p>"
    hero_extra += "<p>I’ve dropped my As, Os, and Bs for <a href='http://www.blood.co.uk/news-media/campaigns/national-blood-week/' title='Find out about National Blood Week'>National Blood Week</a>.</p>"
    hero_extra += "<ul class='list--large-icons'>"
    data.pages.masthead.each do |nav|
      if nav.home && nav.slug != "/index.html"
        hero_link =  "<h2 class='list--large-icons__title'>#{nav.home.title}</h2>"
        hero_link += "<p>#{nav.home.text}</p>"
        hero_link += "<p class='small-caps' data-ie='hide'>Read more<span class='visuallyhidden'> about #{nav.home.read_more}.</span></p>"
        hero_extra += "<li class='list--large-icons__item ss-nav-#{nav.icon || nav.slug}'>"
        hero_extra += link_to hero_link, nav.slug, :title => nav.alt, :class => "list--large-icons__link"
        hero_extra += "</li>"
      end
    end
    hero_extra += "</ul>"
  %>
  <%= partial "partials/hero", locals: {
    image: current_page.data.hero,
    image_small: current_page.data.hero_small,
    image_loc: hero_dir,
    # title: "Hi I’m Rob Sterlini",
    title: "Hi I’m R<span class='bld-aob'>ob</span> Sterlini",
    # subtitle: current_page.data.description,
    subtitle: "I’m <span class='bld-aob'>a</span> we<span class='bld-aob'>b</span> designer with <span class='bld-aob'>a</span> l<span class='bld-aob'>o</span>ve f<span class='bld-aob'>o</span>r g<span class='bld-aob'>o</span>rge<span class='bld-aob'>o</span>us typ<span class='bld-aob'>o</span>gr<span class='bld-aob'>a</span>phy, delici<span class='bld-aob'>o</span>us inter<span class='bld-aob'>a</span>cti<span class='bld-aob'>o</span>n, <span class='bld-aob'>a</span>nd <span class='bld-aob'>a</span>ttenti<span class='bld-aob'>o</span>n t<span class='bld-aob'>o</span> det<span class='bld-aob'>a</span>il.",
    arrow_hide: true,
    extra: hero_extra
    }
  %>
  <style>.bld-aob { opacity: 0.33; }</style>
</section>