---
title: Web designer
nav: home
description: I’m a web designer with a love for gorgeous typography, delicious interaction, and attention to detail.
hero: main.jpg
hero_small: main_600.jpg
no_footer: true
no_masthead: true
priority: 1.0
---

<main id="content" class="wrapper" data-page="home">
  <%
    hero_extra = "<p>I work for <a href='http://fueled.com' title='Visit the Fueled website'>Fueled</a>, but take on freelance projects that speak to me! Oh, and I’m raising money for Macmillan by competing in a whole bunch of crazy events throughout 2015. #{link_to "Read and donate?", "triathlon.html", :title => "Read about my fundraising plans here"} You know you want to!</p>"
    hero_extra += "<ul class='list--large-icons'>"
    data.pages.masthead.each do |nav|
      if nav.home && nav.slug != "/index.html"
        hero_link =  "<h2 class='list--large-icons__title'>#{nav.home.title}</h2>"
        hero_link += "<p>#{nav.home.text}</p>"
        hero_link += "<p class='small-caps' data-ie='hide'>Read more<span class='visuallyhidden'> about #{nav.home.read_more}.</span></p>"
        hero_extra += "<li class='list--large-icons__item ss-nav-#{nav.icon || nav.slug}'>"
        hero_extra += link_to hero_link, nav.slug, :title => nav.alt, :class => "list--large-icons__link"
        hero_extra += "</li>"
      end
    end
    hero_extra += "</ul>"
  %>
  <%= partial "partials/hero", locals: {
    image: current_page.data.hero,
    image_small: current_page.data.hero_small,
    image_loc: hero_dir,
    title: "Hi I’m Rob Sterlini",
    subtitle: current_page.data.description,
    extra: hero_extra
    }
  %>
</main>