---
description: I’m a London-based front-end developer with a passion for design.
no_footer: true
page_classes: page--home
priority: 1.0
hero: true
---

<main id="content" class="wrapper" data-page="home">
  <%
    hero_extra = "<p>When I’m not doing that, I’m probably – one of – telling people how much I’ve fallen in love triathlon, taking a banging selfie for Instagram, or talking myself in or out of adding to my LEGO collection.</p>"
    hero_extra += "<p class=\"btns\">#{link_to "Want to chat? Say hi!", "contact.html", :class => "btn"}#{link_to "Read my journal", "journal.html", :class => "btn--outline"}</p>"
    # hero_extra = "<p>I work for <a href='http://fueled.com' title='Visit the Fueled website'>Fueled</a>, but take on freelance projects that speak to me! Oh, and I’m raising money for Macmillan by competing in a whole bunch of crazy events throughout 2015. #{link_to "Read and donate?", "triathlon.html", :title => "Read about my fundraising plans here"} You know you want to!</p>"
  %>
  <%= partial "partials/hero", locals: {
    image: "home/home",
    title: "Hi I’m Rob Sterlini",
    subtitle: "#{current_page.data.description} By day I build websites for #{link_to "Fueled", "https://fueled.com/sterlini"}, supplimenting that with smaller freelance projects.",
    extra: hero_extra
    }
  %>
</main>