---
description: I’m a London-based front-end developer with a passion for design.
no_footer: true
page_classes: page--home
priority: 1.0
hero: true
---

<main id="content" class="wrapper" data-page="home">
  <div class="group">
    <%= partial "partials/ui/heading", locals: {
      title: {
        indent: '1',
        copy: 'Rob Sterlini'
      },
      pre: {
        copy: 'Welcome aboard, I’m'
      },
      text: {
        indent: '1',
        copy: [
          [
            "By day I’m a front end developer at #{link_to "Fueled", "https://fueled.com/sterlini"}; by night a designer, a runner, a triathlete, and more.",
            "Find out about what I’ve worked on, what I’m writing about, or how to get in touch."
          ]
        ]
      }
    } %>

    <%
      logos = [
        {
          name: 'Kickpush',
          awards: [
            {
              slug: 'csswinner',
              title: 'kickpush.co',
              subtitle: 'SOTD 24 April 2016'
            }
          ]
        },
        'Bigpoint',
        'Vanity Fair',
        'University of Reading'
      ]
      logos_str = ""
      logos_str += "<div class=\"home__brands\">"
      logos.each_with_index do |logo, index|
        logos_str += "<div class=\"g--2 gi--1 home__brand\">"
        logo_name = ""
        logo_awards = ""
        if logo.is_a? String
          logo_name = logo
        else
          logo_name = logo[:name]
          if logo[:awards]
            logo_awards += "<ul class=\"home__brand__awards\">"
            logo[:awards].each do |award|
              logo_awards += "<li>"
              logo_awards += sprockets.find_asset("brands/#{award[:slug]}.svg").to_s
              logo_awards += "<strong class=\"home__brand__award__title\">#{award[:title]}</strong>"
              logo_awards += "<span class=\"home__brand__award__subtitle\">#{award[:subtitle]}</span>"
              logo_awards += "</li>"
            end
            logo_awards += "</ul>"
          end
        end
        logos_str += "<span class=\"visuallyhidden\">#{logo_name}</span>"
        logos_str += sprockets.find_asset("brands/#{logo_name.to_slug}.svg").to_s
        logos_str += logo_awards
        logos_str += "</div>"
      end
      logos_str += "</div>"
    %>

    <%= partial "partials/ui/heading", locals: {
      title: {
        indent: '3',
        copy: 'speak for themselves'
      },
      pre: {
        position: 'left',
        indent: '2',
        copy: 'Crafting online experiences that'
      },
      text: {
        indent: '3',
        copy: [
          [
            "At Fueled I’ve created sites for multi-billion pound companies, tech startups, established brands, and the like. It has also afforded me the opportunity to push the boundaries of the web, with imaginative case studies, and boundless capabilities."
          ], [
            "As a freelance developer and in past jobs, I’ve had the great pleasure of working with friends to create stunning pieces like kickpush.co. Reimagining the University of Reading site was pretty special given my fond love for my time there!"
          ]
        ]
      },
      extras: {
        end: logos_str
      }
    } %>

    <%= partial "partials/ui/heading", locals: {
      title: {
        indent: '1',
        copy: '‘Rob is lorem ipsum…’'
      },
      pre: {
        width: '9',
        copy: 'Sam Applebee, Co-founder at Kickpush once said:'
      },
      text: {
        indent: '1',
        width: '6',
        blockquote: true,
        copy: [
          [
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.",
            "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          ]
        ]
      }
    } %>

    <!-- <h1 class="heading">
      <span class="g--7"><span class="heading__pre--right">Welcome aboard, I’m </span></span>
      <b class="heading__break" aria-hidden="true"></b>
      <span class="g__i--1"><span class="h--alpha">Rob Sterlini</span></span>
    </h1>
    <div class="g--4 g__i--1">
      <p><span>By day</span> I’m a front end developer at <%= link_to "Fueled", "https://fueled.com/sterlini" %>; by night a designer, a runner, a triathlete, and more.</p>
      <p>Find out about what I’ve worked on, what I’m writing about, or how to get in touch.</p>
    </div> -->
  </div>
  <%#
    hero_extra = "<p>When I’m not doing that, I’m probably – one of – telling people how much I’ve fallen in love triathlon, taking a banging selfie for Instagram, or talking myself in or out of adding to my LEGO collection.</p>"
    hero_extra += "<p class=\"btns\">#{link_to "Want to chat? Say hi!", "contact.html", :class => "btn"}#{link_to "Read my journal", "journal.html", :class => "btn--outline"}</p>"
  %>
  <%#= partial "partials/hero", locals: {
    image: "home/home",
    title: "Rob Sterlini",
    subtitle: "#{current_page.data.description} By day I build websites for #{link_to "Fueled", "https://fueled.com/sterlini"}, supplimenting that with smaller freelance projects.",
    extra: hero_extra,
    color2: "#51D7FF"
    }
  %>
  <!--<%#= partial "partials/hero", locals: {
    image: "home/home",
    title: "Rob Sterlini",
    subtitle: "#{current_page.data.description} By day I build websites for #{link_to "Fueled", "https://fueled.com/sterlini"}, supplimenting that with smaller freelance projects.",
    extra: hero_extra,
    color2: ""
    }
  %>
  <%#= partial "partials/hero", locals: {
    image: "home/home",
    title: "Rob Sterlini",
    subtitle: "#{current_page.data.description} By day I build websites for #{link_to "Fueled", "https://fueled.com/sterlini"}, supplimenting that with smaller freelance projects.",
    extra: hero_extra
    }
  %>-->
</main>