---
description: I’m a London-based front-end developer with a passion for design.
no_footer: true
page_classes: page--home
priority: 1.0
hero: true
---

<main id="content" class="wrapper" data-page="home">

    <%# HERO %>
    <%= partial "partials/ui/heading", locals: {
      set: data.home.sections.hero,
    } %>

    <%# MY WORK %>
    <%= partial "partials/ui/heading", locals: {
      set: data.home.sections.work,
      extras: {
        end: partial("partials/home/logos")
      }
    } %>

    <%# TESTIMONIAL %>
    <%= partial "partials/ui/heading", locals: {
      set: data.home.sections.testimonial
    } %>

    <%# JOURNAL %>

    <% blog.articles.take(1).each_with_index do |article, i| %>
      <%= partial "partials/ui/heading", locals: {
        title: {
          copy: article.title,
          classes: " g_6"
        },
        pre: "Recently I wrote about #{ partial("partials/journal/category", :locals => { :a => article })}",
        text: {
          classes: " g_6",
          copy: [
            article.data.description
          ],
          cta: [
            {
              link: article,
              text: 'Read it in full'
            }
          ]
        },
        images: {
          absolute: [
            {
              src: "/assets/images/hero/blog/#{article.slug}_full.jpg",
              classes: " g_6 gi_6"
            }
          ]
        }
      } %>
    <% end %>
</main>