---
title: A written insight into the world of Rob Sterlini
nav: journal
---

<% page_articles.each_with_index do |article, i| %>
  <% t_name = '' %>
  <% t_link = '' %>
  <% article.tags.each do |tag, articles| %>
    <% t_link = tag_path(tag) %>
    <% t_name = tag %>
  <% end %>
  <% if i == 0 %>
    <% localised_date = article.date.strftime("%a %b %e") %>
    <%= partial "partials/hero", locals: {
      image: "#{article.data.hero}",
      title: "#{article.title}",
      subtitle: article.data.description,
      extra: "<p class='small-caps'><time>#{localised_date}</time> in <a href='#{t_link}' title='See other posts about #{t_name}' class=' post-list__post--category'>#{t_name}</a></p><p class='btns'><a class='btn' href='#{article.url}' title='#{article.title}'>Read it in full</a></p>",
      featured: "<p class='hero__category'><span class='small-caps'>Featured post</span><br>#{current_page.data.title}</p>"
    } %>

    <main>
    <h2>Recent journal posts</h2>
    <article class="type group">
  <% else %>
  <% end %>
  <h3><%= link_to article.title, article %></h3>
  <p><%= article.data.description %></p>

<% end %>

  <h2>Categories</h2>
  <ul>
    <% blog.tags.each do |tag, articles| %>
      <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
    <% end %>
  </ul>

</article>
</main>