---
page_classes: page--memory page--full-hero
---

<%
  memory = data.memories[m]
  title = memory.title || ""
  description = memory.description || ""

  content_for(:title, title)
  content_for(:meta_description, description)

  if memory.hero
    if memory.hero === true
      content_for(:hero, "memories/#{m}")
    else
      content_for(:hero, memory.hero)
    end
  end
%>

<div class="col">
  <h1 class="_h1 blog__title"><%= "#{title.dup.gsub ' and ', ' <span class=\"sc\">&</span> '}" %></h1>
  <p class="blog__subtitle"><%= memory.date %></p>
  <p class="_p1"><%= description %></p>
</div>