---
title: 2015 is all about fundraising for Macmillan
description: 2015 is all about pushing my limits… and raising as much as I can for Macmillan.
hero: blog-the-london-triathlon.jpg
donate_url: http://uk.virginmoneygiving.com/RobSterlini
no_notice: true
---

<main id="content" class="wrapper" data-page="home">
  <%
    events_js = ''
    data.triathlon.events.each_with_index do |event, index|
      events_js += "#{index == 0 ? "" : ", "}{event: '#{event.title}', date: '#{event.date_time}'}";
    end
  %>
  <script>var events = [<%= events_js %>]</script>
  <%= partial "partials/hero", locals: {
    image: "#{current_page.data.hero}",
    image_small: "blog-the-london-triathlon_600.jpg",
    image_loc: "/assets/journal/the-london-triathlon/",
    title: "Triathlons &amp; more for Macmillan",
    subtitle: current_page.data.description,
    extra: "<p class='hero--triathlon__events' data-js='add-tri-event-clock'></p>"
  } %>
  <article class="tabs__nav-parent">
    <%= partial "partials/tabs", :locals => { :tab_data => data.triathlon.tabbed_sections, :page_slug => "triathlon" } %>
  </article>
</main>