---
title: 2015 is all about fundraising for Macmillan
nav: home
description: I’ve made 2015 about doing endurance events, and pushing my limits… all in the name of raising as much as I can for Macmillan.
donate_url: http://uk.virginmoneygiving.com/RobSterlini
---

<section id="content" class="wrapper" data-page="home">
  <%= partial "partials/hero", locals: {
    image: "triathlon.jpg",
    title: "Triathlons and more for Macmillan",
    subtitle: current_page.data.description,
    extra: "<p class='btns'><a class='btn' href='#{current_page.data.donate_url}' title='Help me raise money for the amazing work Macmillan do'>Help Macmillan</a><a class='btn--outline' href='#main' title='See how I’m doing it'>Read about what I’m doing</a></p>"
  } %>
</section>