---
title: 2015 is all about fundraising for Macmillan
nav: home
description: I’ve made 2015 about doing endurance events, and pushing my limits… all in the name of raising as much as I can for Macmillan.
donate_url: http://uk.virginmoneygiving.com/RobSterlini
---

<section id="content" class="wrapper" data-page="home">
  <%= partial "partials/hero", locals: {
    image: "main.jpg",
    title: "Triathlons and more for Macmillan",
    subtitle: current_page.data.description,
    extra: "<ul>
      <li><a href='/portfolio'>Explore my life’s work</a></li><!--
      --><li><a href='/process'>Find out how I do it</a></li><!--
      --><li><a href='/journal'>Read what I’ve been writing about</a></li><!--
      --><li><a href='/about'>Learn a bit more about the guy</a></li><!--
      --><li><a href='/about'>Reach out and get in touch</a></li>
    </ul>"
  } %>
</section>