.article__tldr {
  margin:rem(40) auto;
}

.article__description {
  @extend .hero__header--beta;
  // margin-bottom:rem(50);
}

.article__data {
  @extend .sc;
  margin-bottom:rem(50);
}

.article__fixed-header {
  position:fixed;
  top:0;
  left:0;
  z-index:2;
  // background:linear-gradient($color-white,rgba($color-white,0.0001));
  background:rgba($color-white,0.95);
  // border-bottom:rem(2) solid $color-white;
  box-shadow:rgba($color-black,0.1) 0 0 rem(10);
  transform:translateY(-100%);
  transition:transform .25s cubic-bezier(#{$bezier-nice});
  width:100%;
  pointer-events:none;
  padding:rem(5) 0 rem(4) rem(150);
  @include respond-to($bp-small) {
    padding-left:rem(60);
  }
  @include respond-to($bp-tiny) {
    display: none;
  }
  h1 {
    pointer-events:auto;
    @include font-size(19);
    margin:rem(5) auto rem(7);
    span {
      @include font-family-serif();
    }
  }
}
.article__fixed-header--toggled {
  transform:translateY(0);
}