.hero {
  position: relative;
  display: table;
  width:100%;
  min-height:em(300);
  padding:em(20) em(10);
}
.hero__bg {
  @include cover(absolute);
  background:center fixed;
  background-size:cover;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.hero__header {
  text-align: center;
  margin:0;
  display: table-cell;
  vertical-align: middle;
  z-index:1;
  position: relative;
}