.masthead {
  position: fixed;
  z-index:5;
  width:100%;
  text-shadow:rgba($color-black,0.2) 0 em(1) em(2);
  transition:all .25s cubic-bezier(#{$bezier-nice});
  &:before {
    content:'';
    @include cover(absolute);
    transition:inherit;
    background: linear-gradient(to bottom, rgba($color-black,0.75), rgba($color-black,0)); 
  }
}
.masthead--scrolled {
  background:rgba($color-black,0.95);
  &:before {
    opacity:0;
  }
}

.masthead__logo {
  @include font-size(26);
  @include font-family-serif(bold);
  position: absolute;
  width:em(200,26);
  left:calc(50% - #{em(100,26)});
  text-align: center;
  z-index:1;
  text-decoration: none;
  line-height:1.2;
  padding:em(8,26) 0 0;
  border-top:em(5,26) solid $color-accent;
  .masthead--scrolled & {
    border-top:em(2,26) solid $color-accent;
  }
  @include hover {
    color:$color-white;
  }
}
.masthead__logo--title {
  position: relative;
}
.masthead__logo--rubric {
  @include font-family-serif;
  display: block;
  position: relative;
  transition:inherit;
  .masthead--scrolled & {
    opacity:0;
    margin-top:em(-34,26);
  }
}