/**
 * Base SCSS File
 *
 * @requires _type.scss, _color.scss
 */

*,
*:before,
*:after {
	box-sizing:border-box;
}

html,body {
	min-height:100%;
}

html {
	background: module-color(base-bg);
	font-size: percentage($measure / 16);
	overflow-y: scroll;
	@include min-width(tp(font-m)) {
		font-size: percentage($measure-m / 16);
	}
	@include min-width(tp(font-l)) {
		font-size: percentage($measure-l / 16);
	}
}

body,
button,
input,
select,
textarea {
	color: module-color(base-color);
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-family: $font-stack-regular;
}

body {
	font-size: 1em;
	line-height: line-height();
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}
::selection {
	text-shadow:none;
}