/**
 * Color SCSS File
 */

/**
 *
 * All color variables should start with the color- prefix, and should
 * be descriptive to the color. $color-primary-accent is better than
 * $color-primary, as it's easy to figure out exactly what the color
 * as these may change significantly during the build and $color-primary-red
 * may no longer be red, but instead blue.
 *
 */

@function color($v) { @return map-get($colors, $v); }
@function module-color($v) { @return map-get($module-colors, $v); }
@function social-color($v) { @return map-get($social-colors, $v); }

$colors: (
  accent: #7947C2,
  accent-light: #C86DD7,
  accent-dark: #3023AE,
  secondary: #5533C1,
  darkest: #000326,
  darker: lighten(#001f3f, 5%),
  dark: lighten(#1b1b1b, 10%),
  mid: #7B788D,
  light: darken(#f9f9f9, 10%),
  lighter: darken(#f9f9f9, 5%),
  lightest: #f9f9f9
);

$module-colors: (
  base-bg: color(lightest),

  btn-bg: color(accent),
  btn-color: color(lightest),
  btn-color-hover: color(darkest),

  hero-bg: color(darkest),
  hero-subtitle: color(accent),

  link-primary: color(secondary),
  link-primary-hover: color(accent),
  link-primary-active: color(mid),

  masthead-bg: color(darker),

  type-text: color(mid),
  type-header: color(accent)
);

$social-colors: (
  twitter: #00ACED,
  facebook: #3B5998,
  instagram: #3F729B,
  gplus: #CC3732,
  dribbble: #EA4C89,
  pinterest: #CC2127,
  tumblr: #44546B,
  vine: #00B489,
  youtube: #CD201F,
  medium: #1A1919,
  vimeo: #1AB7EA,
  spotify: #81b71a,
  strava: #fc4c02,
  nike-plus: #E95814,
  github: #171515
);

 /* ==|== Colors =================
  Base
 ========================================== */

$color-white: #f9f9f9;
$color-black: #1b1b1b;

$color-dark:  #222;

$color-accent: #EDD9DF;
$color-accent: #FFF;

$color-alert-1: #d31b1b;
$color-alert-2: #d3541b;
$color-alert-3: #d3761b;

$color-success: #178d14;

$color-strikethrough: $color-accent;

/* ==|== Colors =================
  Elements
========================================== */

// $color-background: $color-white;
// $color-text: color(darker);
$color-background: #222;
$color-text: #ccc;
$color-headers: #444;

$color-hero-bg: darken($color-white, 3.5%);

/* ==|== Colors =================
   Links
====================================== */

$color-link-primary: color(accent);
$color-link-primary-hover: color(lightest);
$color-link-primary-active: $color-white;

$color-link-reverse: lighten($color-link-primary,23%);
$color-link-reverse-hover: lighten($color-link-primary,40%);
$color-link-reverse-active: $color-white;

$color-b-macmillan-1: #8CC63F;
$color-b-macmillan-2: #00A246;