/**
 * Utility SCSS File
 */

@function          bp($v)          { @return map-get($breakpoints,  $v); }
@function      easing($v: default) { @return map-get($easings,      $v); }
@function line-height($v: regular) { @return map-get($line-heights, $v); }
@function      timing($v: full)    { @return map-get($timings,      $v); }
@function          tp($v)          { @return map-get($tweakpoints,  $v); }
@function           w($v)          { @return map-get($widths,       $v); }
@function      weight($v: regular) { @return map-get($weights,      $v); }

@function unit($n: 1, $e: 0) { @return rem(($n * 16) + $e); }

// Measure
$measure:       16;
$measure-unit:  rem($measure);

// Media queries
$breakpoints: (
  xs: 450,
  s: $measure * 48
);
$tweakpoints: (
  gutter-widen: 1350,
  has-gutter:   900,
  parallax: 750
);

// Sizes
$widths: (
  gutter: $measure * (54 - 34 - 6),
  text: $measure * 36,
  wrapper: ($measure * 12 * 4) + ($measure * 13)
);

// Type
$line-heights: (
  regular: 1.45,
  subheading: 1.35,
  heading: 1.15,
  caption: 1.25
);
$weights: (
  alt-bold: 500,
  alt-regular: 400,
  bold: 600,
  regular: 400
);

// Timings and easings
$timings: (
  full: 250ms
);
$easings: (
  default: ease-in-out,
);

// Max widths
$layout-max-width:              $measure * 34;
$layout-max-width-wide:         $measure * 54;
$layout-max-width-suffix:       rem($layout-max-width);
$layout-max-width-wide-suffix:  rem($layout-max-width-wide);


