/**
 * Utility SCSS File
 */

@function          bp($v)          { @return map-get($breakpoints,  $v); }
@function      easing($v: default) { @return map-get($easings,      $v); }
@function line-height($v: regular) { @return map-get($line-heights, $v); }
@function      timing($v: full)    { @return map-get($timings,      $v); }
@function          tp($v)          { @return map-get($tweakpoints,  $v); }
@function           w($v)          { @return map-get($widths,       $v); }
@function      weight($v: regular) { @return map-get($weights,      $v); }

// Measure
$measure:       16;
$measure-m:     18;
$measure-l:     20;

@function    unit($n: 1, $e: 0) { @return rem(($n * $measure) + $e); }
@function lh-unit($n: 1, $e: 0) { @return rem(($n * $measure * line-height()) + $e); }


// Media queries
$breakpoints: (
  xs: 450,
  s: $measure * 48
);
$tweakpoints: (
  // Fonts
  font-m: 1024,
  font-l: 1400,

  // Columns
  col-multiple: 768,

  gutter-widen: 1350,
  has-gutter:   900,
  parallax: 750
);

// Sizes
$widths: (
  text: $measure * 36,
  wrapper: ($measure * 12 * 4) + ($measure * 13)
);

// Type
$font-stack-regular:  "SkolarLatin", Georgia, serif;
$line-heights: (
  regular: 1.5,
);
$weights: (
  alt-bold: 500,
  alt-regular: 400,
  bold: 600,
  regular: 400
);

// Timings and easings
$timings: (
  full: 250ms,
  link: 125ms,
);
$easings: (
  default: ease-in-out,
  link: ease-out,
);

// Max widths
$layout-max-width:              $measure * 34;
$layout-max-width-wide:         $measure * 54;
$layout-max-width-suffix:       rem($layout-max-width);
$layout-max-width-wide-suffix:  rem($layout-max-width-wide);


