## A bit of background

<%= blog_image('/content/2015/02/macmillan-trisuit.jpg', 'Green’s definitely not my colour, and this trisuit is hella tight!', 'A quick Instagram selfie of me in my new trisuit', 'right') %>

Late 2014 I decided that a triathlon sounded like a good idea, at the time it was a pipe dream, but after a bit of researching, and an impulse decision later I’d signed up for the London Triathlon in August 2015.

I’ve never done a triathlon before.

As part of the sign up process you’re asked if you’re fundraising for a specific charity, and it dawned on me that I could turn this journey of intrepidation into something that might (in some small way) affect someone else’s life for the better.

## Why Macmillan?

<div class="image--left">
  <%= partial "partials/svg/macmillan.svg" %>
</div>

It’s estimated that more than [1 in 3](http://www.macmillan.org.uk "Read about the facts on the Macmillan website") people will develop cancer in their lifetime, chances are that you know someone that has battled, or is currently battling it.

The help Macmillan provide, and the support network that they’ve developed is second to none; whether it’s explaining proceedures to those with cancer, comforting and reassuring confused loved ones, or helping assess whether someone might need to go and see a doctor.

I’ve witnessed first hand the sensational work that Macmillan do every day, so couldn’t dream of a better charity to fundraise for… even if green isn’t my best look!

## How can I help?

### Fundraising

Fundraising is always a bit of an awkward one, but here’s it straight:

__I’d love it if you could donate anything you can towards my effort.__

No amount is too small. If you want to pick a specific triathlon and sponsor me by the mile, or by the number of times I cry as I struggle through Tough Mudder.

<p class="btns--center"><%= link_to "Donate to my fundraising campaign", current_page.data.donate_url, :title => "Help me raise money for the amazing work Macmillan do", :class => "btn" %></p>

### Awareness

__But!__ I know that sometimes it’s difficult to donate, and if you can’t, then don’t; instead I’d ask that you spread the word about the amazing work that Macmillan do, and have a read through [their website](http://www.macmillan.org.uk "Read about the difference Macmillan make") to see if you’re [due a screening](http://www.macmillan.org.uk/information-and-support/diagnosing/how-cancers-are-diagnosed "Read about cancer symptoms and what to look for on the Macmillan website").

### Stretch goals

Amazingly, I’ve surpassed the – what I thought unsurpassable – goal of £1,000 in donations.

A huge thank you to everyone who donated, I still can’t quite believe it.

I’ve decided to extend the goal to £1,500 to see if I can push it even further than I thought possible. <%= link_to "Any further donations would be amazing", current_page.data.donate_url, :title => "Help me raise money for the amazing work Macmillan do" %>! The more we can raise, the bigger the difference that Macmillan can make